.select_bonito{
  width:250px;
  height:23px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border: 1px solid gray;
  border-radius: 5px 5px 5px 5px;
}

#titulo_cargar_items {
  border-width:0px;
  position:absolute;
  left:5%;
  top:15%;
  width:75%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:2vw;
  color:#D9463B;
}

#proveedor_seleccionado{
  border-width:0px;
  position:absolute;
  left:7%;
  top:24%;
  width:50%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#entidad{
  position:absolute;
  left:7%;
  top:29%;
  width:50%;
  border-width:0px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#presupuesto_pactado{
  position:absolute;
  left:7%;
  top:34%;
  width:50%;
  border-width:0px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#valor_presupuesto_numero{
  position:absolute;
  left:7%;
  top:39%;
  width:50%;
  border-width:0px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#fecha{
  border-width:0px;
  position:absolute;
  left:7%;
  top:34%;
  width:50%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#select_horas{
  position:absolute;
  left:7%;
  top:39%;
  width:50%;
}

#metodo_de_pago{
  border-width:0px;
  position:absolute;
  left:7%;
  top:44%;
  width:50%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#select_minutos{
  position:absolute;
  left:7%;
  top:49%;
  width:10%;
}

#cargar_items{
  border-width:0px;
  position:absolute;
  left:10%;
  top:77%;
  display:flex;
}

#rechazar{
  border-width:0px;
  position:absolute;
  left:23%;
  top:77%;
  display:flex;
}


.boton_cargar_items{
  width:140px;
  height:40px;
  background-color:rgba(217, 70, 59, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:white;
}

.boton_cargar_items:hover{
  background-color:rgba(179, 49, 41, 1);
}

#u539 {
  border-width:0px;
  position:absolute;
  width:400px;
  height:150px;
}
#u539_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:150px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u539_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:150px;
  overflow : auto;
}

.tablaCSSS{
    border-collapse: collapse;
    margin 5px 0;
    font-size: 0.9em;
    min-width: 10px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:12px;
}

.tablaCSSS thead tr{
    background-color: rgba(217, 70, 59, 1);
    color: white;
    text-align: center;
    /*border: 1px solid #515559;*/
}
.tablaCSSS th,
.tablaCSSS td{
    padding: 2px 5px;
}

.tablaCSSS tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tablaCSSS tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.tablaCSSS tbody tr:last-of-type{
    border-bottom: 2px solid rgba(217, 70, 59, 1);
}

.variables_fijas{
  width: 15%;
  text-align:left;
  background-color:white;
  border: 0px;
}

#documento_comercial{
  position:absolute;
  left:7%;
  top:60%;
  width:50%;
  border-width:0px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#descripcion{
  position:absolute;
  left:7%;
  top:65%;
  width:50%;
  border-width:0px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#valor_total{
  position:absolute;
  left:7%;
  top:70%;
  width:50%;
  border-width:0px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#u5399 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:150px;
  width:550px;
  height:330px;
}
#u5399_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:330px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5399_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}

.tablaCSS{
    border-collapse: collapse;
    margin 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:14px;
}

.tablaCSS thead tr{
    background-color: rgba(217, 70, 59, 1);
    color: white;
    text-align: center;
    /*border: 1px solid #515559;*/
}
.tablaCSS th,
.tablaCSS td{
    padding: 12px 15px;
}

.tablaCSS tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tablaCSS tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.tablaCSS tbody tr:last-of-type{
    border-bottom: 2px solid rgba(217, 70, 59, 1);
}

#u53999 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:350px;
  width:550px;
  height:130px;
}
#u53999_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:130px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53999_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}