#titulo_cargar_items {
  border-width:0px;
  position:absolute;
  left:5%;
  top:15%;
  width:100%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:2vw;
  color:#D9463B;
}

#proveedor_seleccionado{
  border-width:0px;
  position:absolute;
  left:7%;
  top:22%;
  width:100%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#fecha{
  border-width:0px;
  position:absolute;
  left:7%;
  top:27%;
  width:100%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#metodo_de_pago{
  border-width:0px;
  position:absolute;
  left:7%;
  top:32%;
  width:100%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#documento_comercial{
  border-width:0px;
  position:absolute;
  left:7%;
  top:37%;
  width:100%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#total{
  border-width:0px;
  position:absolute;
  left:7%;
  bottom:15%;
  width:100%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#botoncitos{
  border-width:0px;
  position:absolute;
  left:7%;
  top:45%;
  display:flex;
}

/*#tabla_dinamica_fila{
  border-width:0px;
  position:absolute;
  left:7%;
  top:48%;
  width:80%;
  display:flex;
}*/

#tabla_dinamica_fila{
  position:absolute;
  top:0;
  width:100%;
}

#tabla_dinamica{
  border-width:0px;
  position:absolute;
  left:7%;
  top:52%;
  width:80.1%;
  overflow-y: auto;
  height: 25%;
  display:flex;
}

.boton_fachero{
  width:100px;
  height:20px;
  background-color:rgba(217, 70, 59, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:white;
}

.datosTraidos{
  font-size:20px;
  color:black;
}

.variables_fijas{
  width: 15%;
  text-align:left;
  background-color:white;
  border: 0px;
}
.total{
    font-size:20px;
    color:black;
}
input[type="datosTraidos"]{
    font-size:18px;
    color:black;
}

input[type="text2"]
{
    font-size:20px;
    color:black;
}

.boton_fachero:hover{
  background-color:rgba(179, 49, 41, 1);
}

#cargar_items{
  border-width:0px;
  position:absolute;
  left:7%;
  bottom:5%;
  display:flex;
}

.boton_cargar_items{
  width:140px;
  height:40px;
  background-color:rgba(217, 70, 59, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:white;
}

.boton_cargar_items:hover{
  background-color:rgba(179, 49, 41, 1);
}

#cargar_itemss{
  border-width:0px;
  position:absolute;
  left:7%;
  bottom:5%;
  display:flex;
}

.boton_cargar_itemss{
  width:140px;
  height:40px;
  background-color:rgba(217, 70, 59, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:white;
}

.boton_cargar_itemss:hover{
  background-color:rgba(179, 49, 41, 1);
}

.primera_fila{
    border-collapse: collapse;
    margin 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.primera_fila thead tr{
    background-color: rgba(217, 70, 59, 1);
    color: white;
    text-align: left;
    /*border: 1px solid #515559;*/
    font-weight: bold;
}

.tablaCSS{
    border-collapse: collapse;
    margin 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:14px;
}

.tablaCSS thead tr{
    background-color: rgba(217, 70, 59, 1);
    color: white;
    text-align: center;
    /*border: 1px solid #515559;*/
}
.tablaCSS th,
.tablaCSS td{
    padding: 6px 9px;
}

.tablaCSS tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tablaCSS tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.tablaCSS tbody tr:last-of-type{
    border-bottom: 2px solid rgba(217, 70, 59, 1);
}

.variables{
  width: 15%;
  text-align:left;
  background-color:transparent;
  border: 0px;
}