<!DOCTYPE html>
<html>
  <head>
    <title>Asociar Ingresos y Egresos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/asociar_ingresos_y_egresos/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <!--<script src="files/asociar_ingresos_y_egresos/data.js"></script>-->
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
    <div id="base" class="">
      <form id="form_posta" action="/asociarIngresosYEgresos" method="post" onsubmit="return chequearLosCheckboxes()">

      <!-- Unnamed (Group) -->
      <div id="u842" class="ax_default" data-left="45" data-top="348" data-width="42" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u843" class="ax_default heading_1">
          <div id="u843_div" class=""></div>
          <div id="u843_text" class="text ">
            <p><span>Egreso:</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u844" class="ax_default box_1">
        <img id="u844_img" class="img " src="images/asociar_ingresos_y_egresos/u844.svg"/>
        <div id="u844_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u845" class="ax_default" data-left="45" data-top="2" data-width="249" data-height="68">

        <!-- Unnamed (Rectangle)
        <div id="u846" class="ax_default heading_1">
          <div id="u846_div" class=""></div>
          <div id="u846_text" class="text ">
            <p style="font-size:35px;"><span style="font-family:'Calibri Bold Italic', 'Calibri Regular', 'Calibri', sans-serif;font-style:italic;color:#D9463B;">GeSoc</span></p><p style="font-size:15px;"><span style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;font-style:normal;color:#000000;">Gestión de Proyectos Sociales</span></p>
          </div>
        </div> -->

        <!-- Unnamed (Image)
        <div id="u847" class="ax_default image">
          <img id="u847_img" class="img " src="images/usuario/u181.png"/>
          <div id="u847_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div> -->
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u848" class="ax_default droplist">
        <div id="u848_div" class=""></div>
        <select name="egreso" id="u848_input" disabled class="u848_input" required>
          <option class="u848_input_option" value="">Seleccionar Egreso</option>
         {{#each egresos}}
          <option class="u848_input_option" value={{egreso}}>{{fecha}}:{{valor.importe}}</option>
          {{/each}}
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u849" class="ax_default heading_1">
        <div id="u849_div" class=""></div>
        <div id="u849_text" class="text ">
          <p><span>Criterios de vinculación:</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u850">

        <div id="chk_uno">
          <input type="checkbox" name="OVPE" id="chk_unos" disabled style="text-align:center; vertical-align:middle;"/> Orden valor primero egreso
        </div>

        <div id="chk_dos">
          <input type="checkbox" name="OVPI" id="chk_doss" disabled style="text-align:center; vertical-align:middle;"/> Orden valor primero ingreso
        </div>

        <div id="chk_tres">
          <input type="checkbox" name="OrdenFecha" id="chk_tress" disabled style="text-align:center; vertical-align:middle;"/> Por fecha
        </div>

      </div>



      <!-- Unnamed (Rectangle) -->
      <button id="u851" class="ax_default primary_button">
        <div id="u851_div" class=""></div>
        <div id="u851_text" class="text ">
          <p><span>Cargar</span></p>
        </div>
      </button>

      <!-- Unnamed (Rectangle) -->
      <div id="u852" class="ax_default heading_1">
        <div id="u852_div" class=""></div>
        <div id="u852_text" class="text ">
          <p><span>Asociar Ingresos a Egresos</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u853" class="ax_default heading_1">
        <div id="u853_div" class=""></div>
        <div id="u853_text" class="text ">
          <p><span>Fecha período de aceptabilidad:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u854" class="ax_default text_field">
        <div id="u854_div" class=""></div>
        <input name="fecha" id="u854_input" disabled type="date" value="Fecha" class="u854_input" required/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u855" class="ax_default droplist">
        <div id="u855_div" class=""></div>
        <select name="ingreso" id="u855_input" disabled class="u855_input" required>
          <option class="u855_input_option" value="">Seleccionar Ingreso</option>
          {{#each ingresos}}
          <option class="u855_input_option" value={{ingreso}}>{{descripcion}}</option>
          {{/each}}
        </select>
      </div>

        <div id="u8555" class="ax_default droplist">
          <div id="u8555_div" class=""></div>
          <select name="ingreso" id="u8555_input" class="u8555_input" required>
            <option class="u8555_input_option" value="">Seleccionar Entidad</option>
            {{#each ingresos}}
            <option class="u8555_input_option" value={{ingreso}}>{{descripcion}}</option>
            {{/each}}
          </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8566" class="ax_default heading_1">
          <div id="u8566_div" class=""></div>
          <div id="u8566_text" class="text ">
            <p><span>Entidad:</span></p>
          </div>
        </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u856" class="ax_default heading_1">
        <div id="u856_div" class=""></div>
        <div id="u856_text" class="text ">
          <p><span>Ingreso:</span></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u857" class="ax_default">

        <div id="fecha_filtrado_div_div" class="ax_default heading_1">
          <div id="fecha_filtrado_div" class=""></div>
          <div id="fecha_filtrado" class="text ">
            <p><span>Filtrar por fecha:</span></p>
          </div>
        </div>

        <div id="fecha_posta_div_div" class="ax_default text_field">
          <div id="fecha_posta_div" class=""></div>
          <input name="fecha" id="fecha_posta" type="date" value="Fecha" class="u8544_input"/>
        </div>

        <table class="tablaCSS"  style="width:100%;">
          <thead>
          <tr>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Entidad</th>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Fecha</th>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Ingreso</th>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Egreso</th>
          </tr>
          </thead>
          <tbody>
          {{#each egreso}}
          <tr>
            <td>{{entidad.nombre}}</td>
            <td>{{fecha}}</td>
            <td>{{ingreso.fecha}}:{{ingreso.valor.importe}}</td>
            <td>{{fecha}}:{{valor.importe}}</td>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>


      <!-- Popup (Dynamic Panel) -->
      <div id="u870" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u870_state0" class="panel_state" data-label="State1" style="">
          <div id="u870_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u871" class="ax_default" data-left="0" data-top="0" data-width="599.000000924387" data-height="260.00055308916">

              <!-- Popup Background (Rectangle) -->
              <div id="u872" class="ax_default box_1" data-label="Popup Background">
                <div id="u872_div" class=""></div>
                <div id="u872_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u873" class="ax_default primary_button">
                <img id="u873_img" class="img " src="images/asociar_egresos_y_presupuestos/u661.svg"/>
                <div id="u873_text" class="text ">
                  <p><span>Aceptar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u874" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u874_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u874_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u875" class="ax_default line" data-label="Top Divider Line">
                <img id="u875_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
                <div id="u875_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u876" class="ax_default heading_3" data-label="Summary Text">
                <div id="u876_div" class=""></div>
                <div id="u876_text" class="text ">
                  <p><span>La asociación se registró correctamente en el sistema.</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u877" class="ax_default image">
                <img id="u877_img" class="img " src="images/usuario/u225.png"/>
                <div id="u877_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u878" class="ax_default heading_2" data-label="Popup Title">
                <div id="u878_div" class=""></div>
                <div id="u878_text" class="text ">
                  <p><span>Asociación exitosa</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Droplist) -->
      <div id="u879" class="ax_default droplist" data-label="Entidades">
        <div id="u879_div" class=""></div>
        <select name="estrategia" id="u879_input" class="u879_input" onchange="disableCheckBox(this)" required>
          <option class="u879_input_option" value="">Seleccione una estrategia</option>
          <option class="u879_input_option" value="Manual">Manual</option>
          <option class="u879_input_option" value="Automática">Automática</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u880" class="ax_default heading_1">
        <div id="u880_div" class=""></div>
        <div id="u880_text" class="text ">
          <p><span>Estrategia de vinculación:</span></p>
        </div>
      </div>


      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle)
      <div id="u883" class="ax_default box_1">
        <div id="u883_div" class=""></div>
        <div id="u883_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Tabs (Group) -->
      <div id="u884" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u885" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle)
          <div id="u886" class="ax_default heading_1">
            <div id="u886_div" class=""></div>
            <div id="u886_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Rectangle)
          <div id="u887" class="ax_default box_1">
            <img id="u887_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u887_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Image)
          <div id="u888" class="ax_default image">
            <img id="u888_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u888_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u889" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u889_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u889_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u890" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u890_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u890_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u891" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u892" class="ax_default box_3" data-label="Inicio" selectiongroup="u882Tabs">
          <div id="u892_div" class=""></div>
          <div id="u892_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u893" class="ax_default icon">
        <img id="u893_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u893_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u894" class="ax_default icon">
        <img id="u894_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u894_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u895" class="ax_default icon">
        <img id="u895_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u895_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Criterios de Categorización (Group) -->
      <div id="u896" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u897" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u897_state0" class="panel_state" data-label="State1" style="">
            <div id="u897_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u898" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u898_div" class=""></div>
                <div id="u898_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u899" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u899_div" class=""></div>
                <div id="u899_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u900" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u900_div" class=""></div>
                <div id="u900_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u901" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u901_div" class=""></div>
          <div id="u901_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u902" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u903" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u903_state0" class="panel_state" data-label="State1" style="">
            <div id="u903_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u904" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u904_div" class=""></div>
                <div id="u904_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u905" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u905_div" class=""></div>
                <div id="u905_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u906" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u906_div" class=""></div>
          <div id="u906_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u907" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u908" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u908_state0" class="panel_state" data-label="State1" style="">
            <div id="u908_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u909" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u909_div" class=""></div>
                <div id="u909_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u910" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u910_div" class=""></div>
                <div id="u910_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u911" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u911_div" class=""></div>
          <div id="u911_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u912" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u913" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u913_state0" class="panel_state" data-label="State1" style="">
            <div id="u913_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u914" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u914_div" class=""></div>
                <div id="u914_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u915" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u915_div" class=""></div>
          <div id="u915_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u916" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u917" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u917_div" class=""></div>
          <div id="u917_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u918" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u918_state0" class="panel_state" data-label="State1" style="">
            <div id="u918_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u919" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u919_div" class=""></div>
                <div id="u919_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u920" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u921" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u921_div" class=""></div>
          <div id="u921_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u922" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u923" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u923_state0" class="panel_state" data-label="State1" style="">
            <div id="u923_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u924" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u924_div" class=""></div>
                <div id="u924_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u925" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u925_div" class=""></div>
          <div id="u925_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u926" class="ax_default" data-label="Menu">
        <div id="u926_state0" class="panel_state" data-label="State1" style="">
          <div id="u926_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u927" class="ax_default icon">
              <img id="u927_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u927_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>-->
          </div>
        </div>
        <div id="u926_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u926_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u928" class="ax_default icon">
              <img id="u928_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u928_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>-->
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u929" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u930" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u930_div" class=""></div>
          <div id="u930_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u931" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u931_state0" class="panel_state" data-label="State1" style="">
            <div id="u931_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u932" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u932_div" class=""></div>
                <div id="u932_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u933" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u934" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u934_state0" class="panel_state" data-label="State1" style="">
            <div id="u934_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u935" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
                <div id="u935_div" class=""></div>
                <div id="u935_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u936" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u882Tabs">
          <div id="u936_div" class=""></div>
          <div id="u936_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u937" class="ax_default icon">
        <img id="u937_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u937_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->
      <div id="u882" style="display:none; visibility:hidden;"></div>

      <!-- RUTA ASOCIAR INGRESOS A EGRESOS (Group) -->
      <div id="u938" class="ax_default ax_default_hidden" data-label="RUTA ASOCIAR INGRESOS A EGRESOS" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u939" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u939_div" class=""></div>
          <div id="u939_text" class="text ">
            <p><span>&gt;&gt; INGRESOS &gt;&gt; ASOCIAR INGRESOS A EGRESOS</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>
      </form>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
    <script>
    function disableCheckBox(v) {

        if (v.value == 'Automática'){
            chk_unos.disabled = false;
            chk_doss.disabled = false;
            chk_tress.disabled = false;
            u854_input.disabled = false;
            u848_input.disabled = true;
            u855_input.disabled = true;
        }else if (v.value == 'Manual'){
            chk_unos.disabled = true;
            chk_doss.disabled = true;
            chk_tress.disabled = true;
            u854_input.disabled = true;
            u848_input.disabled = false;
            u855_input.disabled = false;
        }
        else{
            chk_unos.disabled = true;
            chk_doss.disabled = true;
            chk_tress.disabled = true;
            u854_input.disabled = true;
            u848_input.disabled = true;
            u855_input.disabled = true;
		}
    }

    function chequearLosCheckboxes(){

      var e = document.getElementById("u879_input");
      var strUser = e.options[e.selectedIndex].text;

      if(strUser == "Automática"  && (!document.getElementById('chk_unos').checked && !document.getElementById('chk_doss').checked && !document.getElementById('chk_tress').checked)){
        alert("Por lo menos debe seleccionar un criterio");
        return false;
      }else{
        return true;
      }
    }
</script>
  </body>
</html>
