<!DOCTYPE html>
<html>
  <head>
    <title>Bitacora de Operaciones</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/bitacora_de_operaciones/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/bitacora_de_operaciones/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Popup & Launcher (Group) -->
      <div id="u1673" class="ax_default" data-label="Popup &amp; Launcher" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Popup (Dynamic Panel) -->
        <div id="u1674" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
          <div id="u1674_state0" class="panel_state" data-label="State1" style="">
            <div id="u1674_state0_content" class="panel_state_content">

              <!-- Popup Background (Rectangle) -->
              <div id="u1675" class="ax_default box_1" data-label="Popup Background">
                <div id="u1675_div" class=""></div>
                <div id="u1675_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1676" class="ax_default primary_button">
                <div id="u1676_div" class=""></div>
                <div id="u1676_text" class="text ">
                  <p><span>Cerrar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u1677" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u1677_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1677_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u1678" class="ax_default line" data-label="Top Divider Line">
                <img id="u1678_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1678_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u1679" class="ax_default heading_2" data-label="Popup Title">
                <div id="u1679_div" class=""></div>
                <div id="u1679_text" class="text ">
                  <p><span>Detalle del Egreso</span></p>
                </div>
              </div>

              <!-- Unnamed (Dynamic Panel) -->
              <div id="u1680" class="ax_default">
                <div id="u1680_state0" class="panel_state" data-label="State1" style="">
                  <div id="u1680_state0_content" class="panel_state_content">

                    <!-- NroItem (Repeater) -->
                    <div id="u1681" class="ax_default" data-label="NroItem">
                      <script id="u1681_script" type="axure-repeater-template" data-label="NroItem">

                        <!-- Fecha (Rectangle) -->
                        <div id="u1682" class="ax_default box_1 u1682" data-label="Fecha">
                          <div id="u1682_div" class="u1682_div"></div>
                          <div id="u1682_text" class="text u1682_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Precio (Repeater) -->
                    <div id="u1683" class="ax_default" data-label="Precio">
                      <script id="u1683_script" type="axure-repeater-template" data-label="Precio">

                        <!-- Valor (Rectangle) -->
                        <div id="u1684" class="ax_default box_1 u1684" data-label="Valor">
                          <div id="u1684_div" class="u1684_div"></div>
                          <div id="u1684_text" class="text u1684_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Cantidad (Repeater) -->
                    <div id="u1685" class="ax_default" data-label="Cantidad">
                      <script id="u1685_script" type="axure-repeater-template" data-label="Cantidad">
                      </script>
                      <div id="u1685-1" class="" style="width: 0px; height: 0px;">
                      </div>
                      <div id="u1685-2" class="" style="width: 0px; height: 0px;">
                      </div>
                      <div id="u1685-3" class="" style="width: 0px; height: 0px;">
                      </div>
                    </div>

                    <!-- NombreItem (Repeater) -->
                    <div id="u1686" class="ax_default" data-label="NombreItem">
                      <script id="u1686_script" type="axure-repeater-template" data-label="NombreItem">

                        <!-- NombreItem (Rectangle) -->
                        <div id="u1687" class="ax_default box_1 u1687" data-label="NombreItem">
                          <div id="u1687_div" class="u1687_div"></div>
                          <div id="u1687_text" class="text u1687_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Cantidad (Repeater) -->
                    <div id="u1688" class="ax_default" data-label="Cantidad">
                      <script id="u1688_script" type="axure-repeater-template" data-label="Cantidad">

                        <!-- Valor (Rectangle) -->
                        <div id="u1689" class="ax_default box_1 u1689" data-label="Valor">
                          <div id="u1689_div" class="u1689_div"></div>
                          <div id="u1689_text" class="text u1689_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1690" class="ax_default box_11">
                <div id="u1690_div" class=""></div>
                <div id="u1690_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1691" class="ax_default" data-label="Input-Text">
                <div id="u1691_div" class=""></div>
                <div id="u1691_text" class="text ">
                  <p><span>N°</span></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1692" class="ax_default" data-label="Input-Text">
                <div id="u1692_div" class=""></div>
                <div id="u1692_text" class="text ">
                  <p><span>Nombre</span></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1693" class="ax_default" data-label="Input-Text">
                <div id="u1693_div" class=""></div>
                <div id="u1693_text" class="text ">
                  <p><span>Valor</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u1694" class="ax_default image">
                <img id="u1694_img" class="img " src="images/cargar_entidad/u388.png"/>
                <div id="u1694_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- CheckboxRevisor (Checkbox) -->
              <div id="u1695" class="ax_default checkbox" data-label="CheckboxRevisor">
                <label id="u1695_input_label" for="u1695_input" style="position: absolute; left: 0px;">
                  <img id="u1695_img" class="img " src="images/cargar_egreso/checkboxrevisor_u516.svg"/>
                  <div id="u1695_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </label>
                <input id="u1695_input" type="checkbox" value="checkbox"/>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1696" class="ax_default label">
                <div id="u1696_div" class=""></div>
                <div id="u1696_text" class="text ">
                  <p><span>Revisor del Egreso:</span></p>
                </div>
              </div>

              <!-- CheckboxRevisorNoEditable (Checkbox) -->
              <div id="u1697" class="ax_default checkbox ax_default_hidden disabled" data-label="CheckboxRevisorNoEditable" style="display:none; visibility: hidden">
                <label id="u1697_input_label" for="u1697_input" style="position: absolute; left: 0px;">
                  <img id="u1697_img" class="img " src="images/cargar_egreso/checkboxrevisor_u516_disabled.svg"/>
                  <div id="u1697_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </label>
                <input id="u1697_input" type="checkbox" value="checkbox"/>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1698" class="ax_default heading_1">
                <div id="u1698_div" class=""></div>
                <div id="u1698_text" class="text ">
                  <p><span>Total:</span></p>
                </div>
              </div>

              <!-- Total (Text Field) -->
              <div id="u1699" class="ax_default text_field disabled" data-label="Total">
                <div id="u1699_div" class="disabled"></div>
                <input id="u1699_input" type="text" value="" class="u1699_input" disabled/>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1700" class="ax_default" data-label="Input-Text">
                <div id="u1700_div" class=""></div>
                <div id="u1700_text" class="text ">
                  <p><span>Cantidad</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Table Title Bar (Group) -->
      <div id="u1701" class="ax_default" data-label="Table Title Bar" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1702" class="ax_default heading_1">
        <div id="u1702_div" class=""></div>
        <div id="u1702_text" class="text ">
          <p><span>&nbsp;Bitácora de Operaciones</span></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u1703" class="ax_default">
        <div id="u1703_state0" class="panel_state" data-label="State1" style="">
          <div id="u1703_state0_content" class="panel_state_content">

            <!-- Unnamed (Repeater) -->
            <div id="u1704" class="ax_default">
              <script id="u1704_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1705" class="ax_default box_1 u1705" data-label="Fecha">
                  <div id="u1705_div" class="u1705_div"></div>
                  <div id="u1705_text" class="text u1705_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1704-1" class="preeval" style="width: 100px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1705-1" class="ax_default box_1 u1705" data-label="Fecha" style="width: 100px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1705-1_div" class="u1705_div" style="width: 100px; height: 30px;visibility: inherit"></div>
                  <div id="u1705-1_text" class="text u1705_text" style="visibility: inherit">
                    <p><span>2020-08-26</span></p>
                  </div>
                </div>
              </div>
              <div id="u1704-2" class="preeval" style="width: 100px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1705-2" class="ax_default box_1 u1705" data-label="Fecha" style="width: 100px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1705-2_div" class="u1705_div" style="width: 100px; height: 30px;visibility: inherit"></div>
                  <div id="u1705-2_text" class="text u1705_text" style="visibility: inherit">
                    <p><span>2020-08-25</span></p>
                  </div>
                </div>
              </div>
              <div id="u1704-3" class="preeval" style="width: 100px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1705-3" class="ax_default box_1 u1705" data-label="Fecha" style="width: 100px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1705-3_div" class="u1705_div" style="width: 100px; height: 30px;visibility: inherit"></div>
                  <div id="u1705-3_text" class="text u1705_text" style="visibility: inherit">
                    <p><span>2020-08-22</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Operacion (Repeater) -->
            <div id="u1706" class="ax_default" data-label="Operacion">
              <script id="u1706_script" type="axure-repeater-template" data-label="Operacion">

                <!-- Operacion (Rectangle) -->
                <div id="u1707" class="ax_default box_1 u1707" data-label="Operacion">
                  <div id="u1707_div" class="u1707_div"></div>
                  <div id="u1707_text" class="text u1707_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1706-1" class="preeval" style="width: 300px; height: 30px;">

                <!-- Operacion (Rectangle) -->
                <div id="u1707-1" class="ax_default box_1 u1707" data-label="Operacion" style="width: 300px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1707-1_div" class="u1707_div" style="width: 300px; height: 30px;visibility: inherit"></div>
                  <div id="u1707-1_text" class="text u1707_text" style="visibility: inherit">
                    <p><span>Cargar Egreso</span></p>
                  </div>
                </div>
              </div>
              <div id="u1706-2" class="preeval" style="width: 300px; height: 30px;">

                <!-- Operacion (Rectangle) -->
                <div id="u1707-2" class="ax_default box_1 u1707" data-label="Operacion" style="width: 300px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1707-2_div" class="u1707_div" style="width: 300px; height: 30px;visibility: inherit"></div>
                  <div id="u1707-2_text" class="text u1707_text" style="visibility: inherit">
                    <p><span>Administrar Usuarios</span></p>
                  </div>
                </div>
              </div>
              <div id="u1706-3" class="preeval" style="width: 300px; height: 30px;">

                <!-- Operacion (Rectangle) -->
                <div id="u1707-3" class="ax_default box_1 u1707" data-label="Operacion" style="width: 300px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1707-3_div" class="u1707_div" style="width: 300px; height: 30px;visibility: inherit"></div>
                  <div id="u1707-3_text" class="text u1707_text" style="visibility: inherit">
                    <p><span>Crear Proyecto</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1708" class="ax_default">
              <script id="u1708_script" type="axure-repeater-template">

                <!-- Total (Rectangle) -->
                <div id="u1709" class="ax_default box_1 u1709" data-label="Total">
                  <div id="u1709_div" class="u1709_div"></div>
                  <div id="u1709_text" class="text u1709_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1708-1" class="preeval" style="width: 200px; height: 30px;">

                <!-- Total (Rectangle) -->
                <div id="u1709-1" class="ax_default box_1 u1709" data-label="Total" style="width: 200px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1709-1_div" class="u1709_div" style="width: 200px; height: 30px;visibility: inherit"></div>
                  <div id="u1709-1_text" class="text u1709_text" style="visibility: inherit">
                    <p><span>Entidad 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1708-2" class="preeval" style="width: 200px; height: 30px;">

                <!-- Total (Rectangle) -->
                <div id="u1709-2" class="ax_default box_1 u1709" data-label="Total" style="width: 200px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1709-2_div" class="u1709_div" style="width: 200px; height: 30px;visibility: inherit"></div>
                  <div id="u1709-2_text" class="text u1709_text" style="visibility: inherit">
                    <p><span>Entidad 2</span></p>
                  </div>
                </div>
              </div>
              <div id="u1708-3" class="preeval" style="width: 200px; height: 30px;">

                <!-- Total (Rectangle) -->
                <div id="u1709-3" class="ax_default box_1 u1709" data-label="Total" style="width: 200px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1709-3_div" class="u1709_div" style="width: 200px; height: 30px;visibility: inherit"></div>
                  <div id="u1709-3_text" class="text u1709_text" style="visibility: inherit">
                    <p><span>Entidad 1</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1710" class="ax_default">
              <script id="u1710_script" type="axure-repeater-template">

                <!-- Documento Comercial (Rectangle) -->
                <div id="u1711" class="ax_default box_1 u1711" data-label="Documento Comercial">
                  <div id="u1711_div" class="u1711_div"></div>
                  <div id="u1711_text" class="text u1711_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Lupa (Shape) -->
                <div id="u1712" class="ax_default icon u1712" data-label="Lupa">
                  <img id="u1712_img" class="img u1712_img" src="images/cargar_entidad/lupa_u329.svg"/>
                  <div id="u1712_text" class="text u1712_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1710-1" class="preeval" style="width: 229px; height: 30px;">

                <!-- Documento Comercial (Rectangle) -->
                <div id="u1711-1" class="ax_default box_1 u1711" data-label="Documento Comercial" style="width: 200px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1711-1_div" class="u1711_div" style="width: 200px; height: 30px;visibility: inherit"></div>
                  <div id="u1711-1_text" class="text u1711_text" style="visibility: inherit">
                    <p><span>usuario1</span></p>
                  </div>
                </div>

                <!-- Lupa (Shape) -->
                <div id="u1712-1" class="ax_default icon u1712" data-label="Lupa" style="width: 20px; height: 20px; left: 209px; top: 3px;visibility: inherit">
                  <img id="u1712-1_img" class="img u1712_img" src="images/cargar_entidad/lupa_u329.svg"/>
                  <div id="u1712-1_text" class="text u1712_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1710-2" class="preeval" style="width: 229px; height: 30px;">

                <!-- Documento Comercial (Rectangle) -->
                <div id="u1711-2" class="ax_default box_1 u1711" data-label="Documento Comercial" style="width: 200px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1711-2_div" class="u1711_div" style="width: 200px; height: 30px;visibility: inherit"></div>
                  <div id="u1711-2_text" class="text u1711_text" style="visibility: inherit">
                    <p><span>gesoc5</span></p>
                  </div>
                </div>

                <!-- Lupa (Shape) -->
                <div id="u1712-2" class="ax_default icon u1712" data-label="Lupa" style="width: 20px; height: 20px; left: 209px; top: 3px;visibility: inherit">
                  <img id="u1712-2_img" class="img u1712_img" src="images/cargar_entidad/lupa_u329.svg"/>
                  <div id="u1712-2_text" class="text u1712_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1710-3" class="preeval" style="width: 229px; height: 30px;">

                <!-- Documento Comercial (Rectangle) -->
                <div id="u1711-3" class="ax_default box_1 u1711" data-label="Documento Comercial" style="width: 200px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1711-3_div" class="u1711_div" style="width: 200px; height: 30px;visibility: inherit"></div>
                  <div id="u1711-3_text" class="text u1711_text" style="visibility: inherit">
                    <p><span>usuario1</span></p>
                  </div>
                </div>

                <!-- Lupa (Shape) -->
                <div id="u1712-3" class="ax_default icon u1712" data-label="Lupa" style="width: 20px; height: 20px; left: 209px; top: 3px;visibility: inherit">
                  <img id="u1712-3_img" class="img u1712_img" src="images/cargar_entidad/lupa_u329.svg"/>
                  <div id="u1712-3_text" class="text u1712_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1713" class="ax_default">
              <script id="u1713_script" type="axure-repeater-template">

                <!-- Hora (Rectangle) -->
                <div id="u1714" class="ax_default box_1 u1714" data-label="Hora">
                  <div id="u1714_div" class="u1714_div"></div>
                  <div id="u1714_text" class="text u1714_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1713-1" class="preeval" style="width: 100px; height: 30px;">

                <!-- Hora (Rectangle) -->
                <div id="u1714-1" class="ax_default box_1 u1714" data-label="Hora" style="width: 100px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1714-1_div" class="u1714_div" style="width: 100px; height: 30px;visibility: inherit"></div>
                  <div id="u1714-1_text" class="text u1714_text" style="visibility: inherit">
                    <p><span>19:07:15</span></p>
                  </div>
                </div>
              </div>
              <div id="u1713-2" class="preeval" style="width: 100px; height: 30px;">

                <!-- Hora (Rectangle) -->
                <div id="u1714-2" class="ax_default box_1 u1714" data-label="Hora" style="width: 100px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1714-2_div" class="u1714_div" style="width: 100px; height: 30px;visibility: inherit"></div>
                  <div id="u1714-2_text" class="text u1714_text" style="visibility: inherit">
                    <p><span>19:25:12</span></p>
                  </div>
                </div>
              </div>
              <div id="u1713-3" class="preeval" style="width: 100px; height: 30px;">

                <!-- Hora (Rectangle) -->
                <div id="u1714-3" class="ax_default box_1 u1714" data-label="Hora" style="width: 100px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1714-3_div" class="u1714_div" style="width: 100px; height: 30px;visibility: inherit"></div>
                  <div id="u1714-3_text" class="text u1714_text" style="visibility: inherit">
                    <p><span>19:22:45</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1715" class="ax_default box_11">
        <div id="u1715_div" class=""></div>
        <div id="u1715_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1716" class="ax_default" data-label="Input-Text">
        <div id="u1716_div" class=""></div>
        <div id="u1716_text" class="text ">
          <p><span>Fecha</span></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1717" class="ax_default" data-label="Input-Text">
        <div id="u1717_div" class=""></div>
        <div id="u1717_text" class="text ">
          <p><span>Operación</span></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1718" class="ax_default" data-label="Input-Text">
        <div id="u1718_div" class=""></div>
        <div id="u1718_text" class="text ">
          <p><span>Entidad</span></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1719" class="ax_default" data-label="Input-Text">
        <div id="u1719_div" class=""></div>
        <div id="u1719_text" class="text ">
          <p><span>Usuario</span></p>
        </div>
      </div>

      <!-- Popup (Dynamic Panel) -->
      <div id="u1720" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u1720_state0" class="panel_state" data-label="State1" style="">
          <div id="u1720_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u1721" class="ax_default" data-left="0" data-top="0" data-width="599.000000924387" data-height="260.00055308916">

              <!-- Popup Background (Rectangle) -->
              <div id="u1722" class="ax_default box_1" data-label="Popup Background">
                <div id="u1722_div" class=""></div>
                <div id="u1722_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u1723" class="ax_default primary_button">
                <img id="u1723_img" class="img " src="images/usuario/u201.svg"/>
                <div id="u1723_text" class="text ">
                  <p><span>Aceptar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u1724" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u1724_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1724_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u1725" class="ax_default line" data-label="Top Divider Line">
                <img id="u1725_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
                <div id="u1725_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u1726" class="ax_default heading_3" data-label="Summary Text">
                <div id="u1726_div" class=""></div>
                <div id="u1726_text" class="text ">
                  <p><span>La carga del Egreso se registró correctamente en el sistema.</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u1727" class="ax_default image">
                <img id="u1727_img" class="img " src="images/usuario/u225.png"/>
                <div id="u1727_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u1728" class="ax_default heading_2" data-label="Popup Title">
                <div id="u1728_div" class=""></div>
                <div id="u1728_text" class="text ">
                  <p><span>Carga exitosa</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Egresos (Droplist) -->
      <div id="u1729" class="ax_default droplist" data-label="Egresos">
        <div id="u1729_div" class=""></div>
        <select id="u1729_input" class="u1729_input">
          <option class="u1729_input_option" value="Seleccione una Operación">Seleccione una Operación</option>
          <option class="u1729_input_option" value="Cargar Ingreso">Cargar Ingreso</option>
          <option class="u1729_input_option" value="Asociar Ingreso a Egreso">Asociar Ingreso a Egreso</option>
          <option class="u1729_input_option" value="Cargar Egreso">Cargar Egreso</option>
          <option class="u1729_input_option" value="Asociar Egreso a Presupuesto">Asociar Egreso a Presupuesto</option>
          <option class="u1729_input_option" value="Cargar Presupuesto">Cargar Presupuesto</option>
          <option class="u1729_input_option" value="Cargar Criterio">Cargar Criterio</option>
          <option class="u1729_input_option" value="Cargar Categoría">Cargar Categoría</option>
          <option class="u1729_input_option" value="Ver Ingresos y Egresos">Ver Ingresos y Egresos</option>
          <option class="u1729_input_option" value="Administrar Usuarios">Administrar Usuarios</option>
          <option class="u1729_input_option" value="Alta de Usuario">Alta de Usuario</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1730" class="ax_default heading_1">
        <div id="u1730_div" class=""></div>
        <div id="u1730_text" class="text ">
          <p><span>Operación:</span></p>
        </div>
      </div>

      <!-- Egresos (Droplist) -->
      <div id="u1731" class="ax_default droplist" data-label="Egresos">
        <div id="u1731_div" class=""></div>
        <select id="u1731_input" class="u1731_input">
          <option class="u1731_input_option" value="Seleccione una Entidad">Seleccione una Entidad</option>
          <option class="u1731_input_option" value="Entidad 1">Entidad 1</option>
          <option class="u1731_input_option" value="Entidad 2">Entidad 2</option>
          <option class="u1731_input_option" value="Entidad 3">Entidad 3</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1732" class="ax_default heading_1">
        <div id="u1732_div" class=""></div>
        <div id="u1732_text" class="text ">
          <p><span>Entidad:</span></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1733" class="ax_default" data-label="Input-Text">
        <div id="u1733_div" class=""></div>
        <div id="u1733_text" class="text ">
          <p><span>Hora</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1734" class="ax_default text_field">
        <div id="u1734_div" class=""></div>
        <input id="u1734_input" type="date" value="Fecha" class="u1734_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1735" class="ax_default heading_1">
        <div id="u1735_div" class=""></div>
        <div id="u1735_text" class="text ">
          <p><span>Fecha inicio:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1736" class="ax_default text_field">
        <div id="u1736_div" class=""></div>
        <input id="u1736_input" type="date" value="Fecha" class="u1736_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1737" class="ax_default heading_1">
        <div id="u1737_div" class=""></div>
        <div id="u1737_text" class="text ">
          <p><span>Fecha fin:</span></p>
        </div>
      </div>

      <!-- Egresos (Droplist) -->
      <div id="u1738" class="ax_default droplist" data-label="Egresos">
        <div id="u1738_div" class=""></div>
        <select id="u1738_input" class="u1738_input">
          <option class="u1738_input_option" value="Seleccione un Usuario">Seleccione un Usuario</option>
          <option class="u1738_input_option" value="usuario1">usuario1</option>
          <option class="u1738_input_option" value="usuario2">usuario2</option>
          <option class="u1738_input_option" value="gesoc5">gesoc5</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1739" class="ax_default heading_1">
        <div id="u1739_div" class=""></div>
        <div id="u1739_text" class="text ">
          <p><span>Usuario:</span></p>
        </div>
      </div>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1741" class="ax_default box_1">
        <div id="u1741_div" class=""></div>
        <div id="u1741_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Tabs (Group) -->
      <div id="u1742" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u1743" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle) -->
          <div id="u1744" class="ax_default heading_1">
            <div id="u1744_div" class=""></div>
            <div id="u1744_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u1745" class="ax_default box_1">
            <img id="u1745_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u1745_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u1746" class="ax_default image">
            <img id="u1746_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u1746_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1747" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1747_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u1747_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1748" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1748_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u1748_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u1749" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u1750" class="ax_default box_3" data-label="Inicio" selectiongroup="u1740Tabs">
          <div id="u1750_div" class=""></div>
          <div id="u1750_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1751" class="ax_default icon">
        <img id="u1751_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u1751_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1752" class="ax_default icon">
        <img id="u1752_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u1752_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1753" class="ax_default icon">
        <img id="u1753_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u1753_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Criterios de Categorización (Group) -->
      <div id="u1754" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1755" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1755_state0" class="panel_state" data-label="State1" style="">
            <div id="u1755_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1756" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1756_div" class=""></div>
                <div id="u1756_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1757" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1757_div" class=""></div>
                <div id="u1757_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1758" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1758_div" class=""></div>
                <div id="u1758_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1759" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1759_div" class=""></div>
          <div id="u1759_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u1760" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1761" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1761_state0" class="panel_state" data-label="State1" style="">
            <div id="u1761_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1762" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1762_div" class=""></div>
                <div id="u1762_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1763" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1763_div" class=""></div>
                <div id="u1763_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1764" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1764_div" class=""></div>
          <div id="u1764_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u1765" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1766" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1766_state0" class="panel_state" data-label="State1" style="">
            <div id="u1766_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1767" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1767_div" class=""></div>
                <div id="u1767_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1768" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1768_div" class=""></div>
                <div id="u1768_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1769" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1769_div" class=""></div>
          <div id="u1769_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u1770" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1771" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1771_state0" class="panel_state" data-label="State1" style="">
            <div id="u1771_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1772" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1772_div" class=""></div>
                <div id="u1772_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1773" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1773_div" class=""></div>
          <div id="u1773_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u1774" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1775" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1775_div" class=""></div>
          <div id="u1775_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1776" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1776_state0" class="panel_state" data-label="State1" style="">
            <div id="u1776_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1777" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1777_div" class=""></div>
                <div id="u1777_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u1778" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1779" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1779_div" class=""></div>
          <div id="u1779_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u1780" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1781" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1781_state0" class="panel_state" data-label="State1" style="">
            <div id="u1781_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1782" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1782_div" class=""></div>
                <div id="u1782_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1783" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1783_div" class=""></div>
          <div id="u1783_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u1784" class="ax_default" data-label="Menu">
        <div id="u1784_state0" class="panel_state" data-label="State1" style="">
          <div id="u1784_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u1785" class="ax_default icon">
              <img id="u1785_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1785_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u1784_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u1784_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u1786" class="ax_default icon">
              <img id="u1786_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1786_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u1787" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1788" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1788_div" class=""></div>
          <div id="u1788_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1789" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1789_state0" class="panel_state" data-label="State1" style="">
            <div id="u1789_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1790" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1790_div" class=""></div>
                <div id="u1790_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u1791" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1792" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1792_state0" class="panel_state" data-label="State1" style="">
            <div id="u1792_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1793" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
                <div id="u1793_div" class=""></div>
                <div id="u1793_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1794" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1740Tabs">
          <div id="u1794_div" class=""></div>
          <div id="u1794_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1795" class="ax_default icon">
        <img id="u1795_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u1795_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u1740" style="display:none; visibility:hidden;"></div>

      <!-- RUTA BITÁCORA DE OPERACIONES (Group) -->
      <div id="u1796" class="ax_default ax_default_hidden" data-label="RUTA BITÁCORA DE OPERACIONES" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1797" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u1797_div" class=""></div>
          <div id="u1797_text" class="text ">
            <p><span>&gt;&gt; AUDITORÍA &gt;&gt; BITÁCORA DE OPERACIONES</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
