<!DOCTYPE html>
<html>
  <head>
    <title>Cargar Egreso</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/cargar_egreso/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/cargar_egreso/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
    <div id="base" class="">
      <form action="/cargarEgreso" method="post">
      <!-- Popup & Launcher (Group) -->
      <div id="u494" class="ax_default" data-label="Popup &amp; Launcher" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Popup (Dynamic Panel) -->
        <div id="u495" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
          <div id="u495_state0" class="panel_state" data-label="State1" style="">
            <div id="u495_state0_content" class="panel_state_content">

              <!-- Popup Background (Rectangle) -->
              <div id="u496" class="ax_default box_1" data-label="Popup Background">
                <div id="u496_div" class=""></div>
                <div id="u496_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u497" class="ax_default primary_button">
                <div id="u497_div" class=""></div>
                <div id="u497_text" class="text ">
                  <p><span>Cerrar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u498" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u498_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u498_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u499" class="ax_default line" data-label="Top Divider Line">
                <img id="u499_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u499_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u500" class="ax_default heading_2" data-label="Popup Title">
                <div id="u500_div" class=""></div>
                <div id="u500_text" class="text ">
                  <p><span>Detalle del Egreso</span></p>
                </div>
              </div>

              <!-- Unnamed (Dynamic Panel) -->
              <div id="u501" class="ax_default">
                <div id="u501_state0" class="panel_state" data-label="State1" style="">
                  <div id="u501_state0_content" class="panel_state_content">

                    <!-- NroItem (Repeater) -->
                    <div id="u502" class="ax_default" data-label="NroItem">
                      <script id="u502_script" type="axure-repeater-template" data-label="NroItem">

                        <!-- Fecha (Rectangle) -->
                        <div id="u503" class="ax_default box_1 u503" data-label="Fecha">
                          <div id="u503_div" class="u503_div"></div>
                          <div id="u503_text" class="text u503_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Precio (Repeater) -->
                    <div id="u504" class="ax_default" data-label="Precio">
                      <script id="u504_script" type="axure-repeater-template" data-label="Precio">

                        <!-- Valor (Rectangle) -->
                        <div id="u505" class="ax_default box_1 u505" data-label="Valor">
                          <div id="u505_div" class="u505_div"></div>
                          <div id="u505_text" class="text u505_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Cantidad (Repeater) -->
                    <div id="u506" class="ax_default" data-label="Cantidad">
                      <script id="u506_script" type="axure-repeater-template" data-label="Cantidad">
                      </script>
                      <div id="u506-1" class="" style="width: 0px; height: 0px;">
                      </div>
                      <div id="u506-2" class="" style="width: 0px; height: 0px;">
                      </div>
                      <div id="u506-3" class="" style="width: 0px; height: 0px;">
                      </div>
                    </div>

                    <!-- NombreItem (Repeater) -->
                    <div id="u507" class="ax_default" data-label="NombreItem">
                      <script id="u507_script" type="axure-repeater-template" data-label="NombreItem">

                        <!-- NombreItem (Rectangle) -->
                        <div id="u508" class="ax_default box_1 u508" data-label="NombreItem">
                          <div id="u508_div" class="u508_div"></div>
                          <div id="u508_text" class="text u508_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Cantidad (Repeater) -->
                    <div id="u509" class="ax_default" data-label="Cantidad">
                      <script id="u509_script" type="axure-repeater-template" data-label="Cantidad">

                        <!-- Valor (Rectangle) -->
                        <div id="u510" class="ax_default box_1 u510" data-label="Valor">
                          <div id="u510_div" class="u510_div"></div>
                          <div id="u510_text" class="text u510_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u511" class="ax_default box_11">
                <div id="u511_div" class=""></div>
                <div id="u511_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u512" class="ax_default" data-label="Input-Text">
                <div id="u512_div" class=""></div>
                <div id="u512_text" class="text ">
                  <p><span>N°</span></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u513" class="ax_default" data-label="Input-Text">
                <div id="u513_div" class=""></div>
                <div id="u513_text" class="text ">
                  <p><span>Nombre</span></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u514" class="ax_default" data-label="Input-Text">
                <div id="u514_div" class=""></div>
                <div id="u514_text" class="text ">
                  <p><span>Valor</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u515" class="ax_default image">
                <img id="u515_img" class="img " src="images/cargar_entidad/u388.png"/>
                <div id="u515_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- CheckboxRevisor (Checkbox) -->
              <div id="u516" class="ax_default checkbox" data-label="CheckboxRevisor">
                <label id="u516_input_label" for="u516_input" style="position: absolute; left: 0px;">
                  <img id="u516_img" class="img " src="images/cargar_egreso/checkboxrevisor_u516.svg"/>
                  <div id="u516_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </label>
                <input id="u516_input" type="checkbox" value="checkbox"/>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u517" class="ax_default label">
                <div id="u517_div" class=""></div>
                <div id="u517_text" class="text ">
                  <p><span>Revisor del Egreso:</span></p>
                </div>
              </div>

              <!-- CheckboxRevisorNoEditable (Checkbox) -->
              <div id="u518" class="ax_default checkbox ax_default_hidden disabled" data-label="CheckboxRevisorNoEditable" style="display:none; visibility: hidden">
                <label id="u518_input_label" for="u518_input" style="position: absolute; left: 0px;">
                  <img id="u518_img" class="img " src="images/cargar_egreso/checkboxrevisor_u516_disabled.svg"/>
                  <div id="u518_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </label>
                <input id="u518_input" type="checkbox" value="checkbox"/>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u519" class="ax_default heading_1">
                <div id="u519_div" class=""></div>
                <div id="u519_text" class="text ">
                  <p><span>Total:</span></p>
                </div>
              </div>

              <!-- Total (Text Field) -->
              <div id="u520" class="ax_default text_field disabled" data-label="Total">
                <div id="u520_div" class="disabled"></div>
                <input id="u520_input" type="text" value="" class="u520_input" disabled/>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u521" class="ax_default" data-label="Input-Text">
                <div id="u521_div" class=""></div>
                <div id="u521_text" class="text ">
                  <p><span>Cantidad</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle)-->
      <div id="u522" class="ax_default heading_1">
        <div id="u522_div" class=""></div>
        <div id="u522_text" class="text ">
          <p><span>Método de pago:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u523" class="ax_default heading_1">
        <div id="u523_div" class=""></div>
        <div id="u523_text" class="text ">
          <p><span>Descripción Documento Comercial:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u524" class="ax_default text_area">
        <div id="u524_div" class=""></div>
        <textarea name="descripcionDocComercial" id="u524_input" class="u524_input"></textarea>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u525" class="ax_default heading_1">
        <div id="u525_div" class=""></div>
        <div id="u525_text" class="text ">
          <p><span>Criterio:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u526" class="ax_default heading_1">
        <div id="u526_div" class=""></div>
        <div id="u526_text" class="text ">
          <p><span>Tipo de documento comercial:</span></p>
        </div>
      </div>

        <div id="u5266" class="ax_default heading_1">
          <div id="u5266_div" class=""></div>
          <div id="u5266_text" class="text ">
            <p><span>Entidad:</span></p>
          </div>
        </div>

      <!-- Unnamed (Rectangle)
      <div id="u527" class="ax_default heading_1">
        <div id="u527_div" class=""></div>
        <div id="u527_text" class="text ">
          <p><span>Agregar item:</span></p>
        </div>
      </div>-->

      <!-- EntradaNombreItem (Text Field)
      <div id="u528" class="ax_default text_field" data-label="EntradaNombreItem">
        <div id="u528_div" class=""></div>
        <input name="item" id="u528_input" type="text" value="" class="u528_input"/>
      </div>-->

      <!-- EntradaValorItem (Text Field)
      <div id="u529" class="ax_default text_field" data-label="EntradaValorItem">
        <div id="u529_div" class=""></div>
        <input name="valor" id="u529_input" type="text" value="" class="u529_input"/>
      </div>-->

      <!-- Unnamed (Rectangle) -->
      <button id="u530" class="ax_default primary_button">
        <div id="u530_div" class=""></div>
        <div id="u530_text" class="text ">
          <p><span>Cargar items</span></p>
        </div>
      </button>

      <!-- Unnamed (Droplist) -->
      <div id="u531" class="ax_default droplist">
        <div id="u531_div" class=""></div>
        <select name="seleccionarMetodoPago" id="u531_input" class="u531_input">
          <option class="u531_input_option" selected value="Seleccionar Método de Pago">Seleccionar Método de Pago</option>
          {{#each metodos}}
          <option class="u531_input_option" value={{.}} >{{.}}</option>
          {{/each}}
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u532" class="ax_default droplist">
        <div id="u532_div" class=""></div>
        <select name="criterio" id="u532_input" class="u532_input">
          <option class="u532_input_option" value="">Seleccionar Criterio</option>
         {{#each criterios}}
          <option class="u532_input_option" value={{.}} >{{.}}</option>
          {{/each}}
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u533" class="ax_default droplist">
        <div id="u533_div" class=""></div>
        <select name="documentoComercial" id="u533_input" class="u533_input">
          <option class="u533_input_option" value="Seleccionar Documento Comercial">Seleccionar Documento Comercial</option>
         {{#each documentos}}
          <option class="u533_input_option" value={{.}} >{{.}}</option>
          {{/each}}
        </select>
      </div>

        <div id="u5333" class="ax_default droplist">
          <div id="u5333_div" class=""></div>
          <select name="entidad" id="u5333_input" class="u533_input">
            <option class="u533_input_option" value="Seleccionar Entidad">Seleccionar Entidad</option>
            {{#each entidad}}
            <option class="u533_input_option" value={{entidad}} >{{nombre}}</option>
            {{/each}}
          </select>
        </div>

      <!-- Unnamed (Image)
      <div id="u534" class="ax_default image">
        <img id="u534_img" class="img " src="images/cargar_egreso/u534.png"/>
        <div id="u534_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>-->

      <!-- Table Title Bar (Group) -->
      <div id="u535" class="ax_default" data-label="Table Title Bar" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u536" class="ax_default heading_1">
        <div id="u536_div" class=""></div>
        <div id="u536_text" class="text ">
          <p><span>&nbsp;Cargar Egreso</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) COMO CAMBIAR LA POSICION
        <div id="u571" class="ax_default heading_1">
          <div id="u571_div" class=""></div>
          <div id="u571_text" class="text ">
            <p><span>Fecha:</span></p>
          </div>
        </div>-->

        <div id="u537" class="ax_default text_field">
          <!--<div id="u537_div" class=""></div>
          <div id="u537_text" class="text ">
            <p><span>Fecha:</span></p>
          </div>-->
          <div id="u538_div" class=""></div>
          <input name="fecha" id="u538_input" type="date" value="Fecha" class="u538_input"/>
        </div>

      <!-- Unnamed (Dynamic Panel) VER LO QUE TRAE CADA COLUMNA-->
      <div id="u539" class="ax_default">
        <div id="u539_state0" class="panel_state" data-label="State1" style="">
          <div id="u539_state0_content" class="panel_state_content" style="width:100%;">
            <table class="tablaCSS" style="width:100%;">
              <thead>
              <tr>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Organizacion</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Fecha</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Método de pago</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Documento comercial</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Total</th>
              </tr>
              </thead>
              <tbody>
              {{#each egreso}}
              <tr>
                <td>{{entidad.nombre}}</td>
                <td>{{fecha}}</td>
                <td>{{metodoDePago.tipo}}</td>
                <td>{{documentoComercial.tipo}}</td>
                <td>{{valor.importe}}</td>
              </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle)
      <div id="u553" class="ax_default box_11">
        <div id="u553_div" class=""></div>
        <div id="u553_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>-->

      <!-- Input-Text (Rectangle)
      <div id="u554" class="ax_default" data-label="Input-Text">
        <div id="u554_div" class=""></div>
        <div id="u554_text" class="text ">
          <p><span>Fecha</span></p>
        </div>
      </div>-->

      <!-- Input-Text (Rectangle)
      <div id="u555" class="ax_default" data-label="Input-Text">
        <div id="u555_div" class=""></div>
        <div id="u555_text" class="text ">
          <p><span>Proveedor</span></p>
        </div>
      </div>-->

      <!-- Input-Text (Rectangle)
      <div id="u556" class="ax_default" data-label="Input-Text">
        <div id="u556_div" class=""></div>
        <div id="u556_text" class="text ">
          <p><span>Total</span></p>
        </div>
      </div>-->

      <!-- Input-Text (Rectangle)
      <div id="u557" class="ax_default" data-label="Input-Text">
        <div id="u557_div" class=""></div>
        <div id="u557_text" class="text ">
          <p><span>Método de Pago</span></p>
        </div>
      </div>-->

      <!-- Input-Text (Rectangle)
      <div id="u558" class="ax_default" data-label="Input-Text">
        <div id="u558_div" class=""></div>
        <div id="u558_text" class="text ">
          <p><span>Documento Comercial</span></p>
        </div>
      </div>-->

      <!-- Unnamed (Rectangle) -->
      <div id="u559" class="ax_default heading_1">
        <div id="u559_div" class=""></div>
        <div id="u559_text" class="text ">
          <p><span>Revisor del Egreso: </span></p>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u560" class="ax_default checkbox">
        <label id="u560_input_label" for="u560_input" style="position: absolute; left: 0px;">
          <img id="u560_img" class="img " src="images/cargar_egreso/u560.svg"/>
          <div id="u560_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </label>
        <input name="esRevisor" id="u560_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Popup (Dynamic Panel) -->
      <div id="u561" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u561_state0" class="panel_state" data-label="State1" style="">
          <div id="u561_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u562" class="ax_default" data-left="0" data-top="0" data-width="599.000000924387" data-height="260.00055308916">

              <!-- Popup Background (Rectangle) -->
              <div id="u563" class="ax_default box_1" data-label="Popup Background">
                <div id="u563_div" class=""></div>
                <div id="u563_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u564" class="ax_default primary_button">
                <img id="u564_img" class="img " src="images/usuario/u201.svg"/>
                <div id="u564_text" class="text ">
                  <p><span>Aceptar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u565" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u565_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u565_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u566" class="ax_default line" data-label="Top Divider Line">
                <img id="u566_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
                <div id="u566_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u567" class="ax_default heading_3" data-label="Summary Text">
                <div id="u567_div" class=""></div>
                <div id="u567_text" class="text ">
                  <p><span>La carga del Egreso se registró correctamente en el sistema.</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u568" class="ax_default image">
                <img id="u568_img" class="img " src="images/usuario/u225.png"/>
                <div id="u568_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u569" class="ax_default heading_2" data-label="Popup Title">
                <div id="u569_div" class=""></div>
                <div id="u569_text" class="text ">
                  <p><span>Carga exitosa</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Droplist)
      <div id="u570" class="ax_default droplist" data-label="Entidades">
        <div id="u570_div" class=""></div>
        <select name="seleccionarEntidad" id="u570_input" class="u570_input">
          <option class="u570_input_option" value="Seleccione una Entidad">Seleccione una Entidad</option>
          <option class="u570_input_option" value="Entidad 1">Entidad 1</option>
          <option class="u570_input_option" value="Entidad 2">Entidad 2</option>
          <option class="u570_input_option" value="Entidad 3">Entidad 3</option>
        </select>
      </div>-->

      <!-- Unnamed (Rectangle)-->
      <div id="u571" class="ax_default heading_1">
        <div id="u571_div" class=""></div>
        <div id="u571_text" class="text ">
          <p><span>Fecha:</span></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle)
      <div id="u572" class="ax_default" data-label="Input-Text">
        <div id="u572_div" class=""></div>
        <div id="u572_text" class="text ">
          <p><span>Entidad</span></p>
        </div>
      </div>-->

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle)
      <div id="u574" class="ax_default box_1">
        <div id="u574_div" class=""></div>
        <div id="u574_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Tabs (Group) -->
      <div id="u575" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u576" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle)
          <div id="u577" class="ax_default heading_1">
            <div id="u577_div" class=""></div>
            <div id="u577_text" class="text ">
              <p><a class="btn btn-dark" href="/pantalla_principal_usuario" style="text-decoration: none">GeSoc</a></p>
            </div>
          </div> -->

          <!-- Unnamed (Rectangle)
          <div id="u578" class="ax_default box_1">
            <img id="u578_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u578_text" class="text ">
              <p><a class="btn btn-dark" href="/pantalla_principal_usuario" style="text-decoration: none">Gestión de Proyectos Sociales</a></p>
            </div>
          </div> -->

          <!-- Unnamed (Image)
          <div id="u579" class="ax_default image">
            <img id="u579_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u579_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u580" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u580_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u580_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u581" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u581_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u581_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u582" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u583" class="ax_default box_3" data-label="Inicio" selectiongroup="u573Tabs">
          <div id="u583_div" class=""></div>
          <div id="u583_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u584" class="ax_default icon">
        <img id="u584_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u584_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u585" class="ax_default icon">
        <img id="u585_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u585_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u586" class="ax_default icon">
        <img id="u586_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u586_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Criterios de Categorización (Group) -->
      <div id="u587" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u588" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u588_state0" class="panel_state" data-label="State1" style="">
            <div id="u588_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u589" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u589_div" class=""></div>
                <div id="u589_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u590" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u590_div" class=""></div>
                <div id="u590_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u591" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u591_div" class=""></div>
                <div id="u591_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u592" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u592_div" class=""></div>
          <div id="u592_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u593" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u594" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u594_state0" class="panel_state" data-label="State1" style="">
            <div id="u594_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u595" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u595_div" class=""></div>
                <div id="u595_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u596" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u596_div" class=""></div>
                <div id="u596_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u597" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u597_div" class=""></div>
          <div id="u597_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u598" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u599" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u599_state0" class="panel_state" data-label="State1" style="">
            <div id="u599_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u600" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u600_div" class=""></div>
                <div id="u600_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u601" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u601_div" class=""></div>
                <div id="u601_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u602" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u602_div" class=""></div>
          <div id="u602_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u603" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u604" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u604_state0" class="panel_state" data-label="State1" style="">
            <div id="u604_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u605" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u605_div" class=""></div>
                <div id="u605_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u606" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u606_div" class=""></div>
          <div id="u606_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u607" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u608" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u608_div" class=""></div>
          <div id="u608_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u609" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u609_state0" class="panel_state" data-label="State1" style="">
            <div id="u609_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u610" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u610_div" class=""></div>
                <div id="u610_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u611" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u612" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u612_div" class=""></div>
          <div id="u612_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u613" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u614" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u614_state0" class="panel_state" data-label="State1" style="">
            <div id="u614_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u615" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u615_div" class=""></div>
                <div id="u615_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u616" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u616_div" class=""></div>
          <div id="u616_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u617" class="ax_default" data-label="Menu">
        <div id="u617_state0" class="panel_state" data-label="State1" style="">
          <div id="u617_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u618" class="ax_default icon">
              <img id="u618_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u618_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
        <div id="u617_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u617_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u619" class="ax_default icon">
              <img id="u619_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u619_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u620" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u621" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u621_div" class=""></div>
          <div id="u621_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u622" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u622_state0" class="panel_state" data-label="State1" style="">
            <div id="u622_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u623" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u623_div" class=""></div>
                <div id="u623_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u624" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u625" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u625_state0" class="panel_state" data-label="State1" style="">
            <div id="u625_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u626" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
                <div id="u626_div" class=""></div>
                <div id="u626_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u627" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u573Tabs">
          <div id="u627_div" class=""></div>
          <div id="u627_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u628" class="ax_default icon">
        <img id="u628_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u628_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->
      <div id="u573" style="display:none; visibility:hidden;"></div>

      <!-- RUTA CARGAR EGRESO (Group) -->
      <div id="u629" class="ax_default ax_default_hidden" data-label="RUTA CARGAR EGRESO" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u630" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u630_div" class=""></div>
          <div id="u630_text" class="text ">
            <p><span>&gt;&gt; EGRESOS &gt;&gt; CARGAR EGRESO</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
