<!DOCTYPE html>
<html>
  <head>
    <title>Cargar Ingreso</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/cargar_ingreso/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <!--<script src="files/cargar_ingreso/data.js"></script>-->
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
    <div id="base" class="">
      <form action="/cargarIngreso" method="post">

      <!-- Popup & Launcher (Group) -->
      <div id="u728" class="ax_default" data-label="Popup &amp; Launcher" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Popup (Dynamic Panel) -->
        <div id="u729" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
          <div id="u729_state0" class="panel_state" data-label="State1" style="">
            <div id="u729_state0_content" class="panel_state_content">

              <!-- Popup Background (Rectangle) -->
              <div id="u730" class="ax_default box_1" data-label="Popup Background">
                <div id="u730_div" class=""></div>
                <div id="u730_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u731" class="ax_default primary_button">
                <div id="u731_div" class=""></div>
                <div id="u731_text" class="text ">
                  <p><span>Cerrar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u732" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u732_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u732_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u733" class="ax_default line" data-label="Top Divider Line">
                <img id="u733_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u733_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u734" class="ax_default heading_2" data-label="Popup Title">
                <div id="u734_div" class=""></div>
                <div id="u734_text" class="text ">
                  <p><span>Detalle del Ingreso</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u735" class="ax_default image">
                <img id="u735_img" class="img " src="images/cargar_entidad/u388.png"/>
                <div id="u735_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Dynamic Panel) -->
              <div id="u736" class="ax_default">
                <div id="u736_state0" class="panel_state" data-label="State1" style="">
                  <div id="u736_state0_content" class="panel_state_content">

                    <!-- NroItem (Repeater) -->
                    <div id="u737" class="ax_default" data-label="NroItem">
                      <script id="u737_script" type="axure-repeater-template" data-label="NroItem">

                        <!-- Fecha (Rectangle) -->
                        <div id="u738" class="ax_default box_1 u738" data-label="Fecha">
                          <img id="u738_img" class="img u738_img" src="images/cargar_ingreso/fecha_u738.svg"/>
                          <div id="u738_text" class="text u738_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                      <div id="u737-1" class="preeval" style="width: 365px; height: 172px;">

                        <!-- Fecha (Rectangle) -->
                        <div id="u738-1" class="ax_default box_1 u738" data-label="Fecha" style="width: 365px; height: 120px; left: 0px; top: 0px;visibility: inherit">
                          <img id="u738-1_img" class="img u738_img" src="images/cargar_ingreso/fecha_u738.svg"/>
                          <div id="u738-1_text" class="text u738_text" style="visibility: inherit">
                            <p><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Cantidad (Repeater) -->
                    <div id="u739" class="ax_default" data-label="Cantidad">
                      <script id="u739_script" type="axure-repeater-template" data-label="Cantidad">
                      </script>
                      <div id="u739-1" class="" style="width: 0px; height: 0px;">
                      </div>
                      <div id="u739-2" class="" style="width: 0px; height: 0px;">
                      </div>
                      <div id="u739-3" class="" style="width: 0px; height: 0px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u740" class="ax_default box_11">
                <div id="u740_div" class=""></div>
                <div id="u740_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u741" class="ax_default" data-label="Input-Text">
                <div id="u741_div" class=""></div>
                <div id="u741_text" class="text ">
                  <p><span>Ingreso Asociado</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u742" class="ax_default" data-left="48" data-top="303" data-width="78" data-height="54">

        <!-- Unnamed (Rectangle) -->
        <div id="u743" class="ax_default heading_1">
          <div id="u743_div" class=""></div>
          <div id="u743_text" class="text ">
            <p><span>Importe:</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u744" class="ax_default heading_1">
          <div id="u744_div" class=""></div>
          <div id="u744_text" class="text ">
            <p><span>Descripción:</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <button id="u745" class="ax_default primary_button">
        <div id="u745_div" class=""></div>
        <div id="u745_text" class="text ">
          <p><span>Cargar</span></p>
        </div>
      </button>

      <!-- Unnamed (Rectangle) -->
      <div id="u746" class="ax_default heading_1">
        <div id="u746_div" class=""></div>
        <div id="u746_text" class="text ">
          <p><span>Fecha:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u747" class="ax_default text_field">
        <div id="u747_div" class=""></div>
        <input name="fecha" id="u747_input" type="date" value="Fecha" class="u747_input" required/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u748" class="ax_default heading_1">
        <div id="u748_div" class=""></div>
        <div id="u748_text" class="text ">
          <p><span>&nbsp;Cargar Ingreso</span></p>
        </div>
      </div>

      <!--
      <div id="u749" class="ax_default heading_1">
        <div id="u749_div" class=""></div>
        <div id="u749_text" class="text ">
          <p><span>Moneda:</span></p>
        </div>
      </div> -->

      <!--
      <div id="u750" class="ax_default droplist">
        <div id="u750_div" class=""></div>
        <select name="moneda" id="u750_input" class="u750_input">
          <option class="u750_input_option" value="Seleccionar Moneda">Seleccionar Moneda</option>
          <option class="u750_input_option" value="Peso">Peso</option>
          <option class="u750_input_option" value="Dólar Estadounidense">Dólar Estadounidense</option>
          <option class="u750_input_option" value="Euro">Euro</option>
        </select>
      </div>-->

      <!-- Unnamed (Dynamic Panel) -->


      <div id="u751" class="ax_default">

        <div id="u340" class="ax_default line">
          <img id="u340_img" class="img " src="images/cargar_entidad/u340.svg"/>
          <div id="u340_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <div id="u341" class="ax_default heading_1">
          <div id="u341_div" class=""></div>
          <div id="u341_text" class="text ">
            <p><span>Ingresos existentes:</span></p>
          </div>
        </div>

        <table class="tablaCSS"  style="width:100%;">
          <thead>
          <tr>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Entidad</th>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Fecha</th>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Descripcion</th>
            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Total</th>
          </tr>
          </thead>
          <tbody>
          {{#each egreso}}
          <tr>
            <td>{{entidad.nombre}}</td>
            <td>{{fecha}}</td>
            <td>{{ingreso.descripcion}}</td>
            <td>{{valor.importe}}</td>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u770" class="ax_default text_field">
        <div id="u770_div" class=""></div>
        <input name="importe" id="u770_input" type="text" value="" class="u770_input" required/>
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u771" class="ax_default text_area">
        <div id="u771_div" class=""></div>
        <textarea name="descripcion" id="u771_input" class="u771_input" required></textarea>
      </div>

      <!-- Popup (Dynamic Panel) -->
      <div id="u772" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u772_state0" class="panel_state" data-label="State1" style="">
          <div id="u772_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u773" class="ax_default" data-left="0" data-top="0" data-width="599.000000924387" data-height="260.00055308916">

              <!-- Popup Background (Rectangle) -->
              <div id="u774" class="ax_default box_1" data-label="Popup Background">
                <div id="u774_div" class=""></div>
                <div id="u774_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u775" class="ax_default primary_button">
                <img id="u775_img" class="img " src="images/usuario/u201.svg"/>
                <div id="u775_text" class="text ">
                  <p><span>Aceptar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u776" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u776_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u776_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u777" class="ax_default line" data-label="Top Divider Line">
                <img id="u777_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
                <div id="u777_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u778" class="ax_default heading_3" data-label="Summary Text">
                <div id="u778_div" class=""></div>
                <div id="u778_text" class="text ">
                  <p><span>La carga del Ingreso se registró correctamente en el sistema.</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u779" class="ax_default image">
                <img id="u779_img" class="img " src="images/usuario/u225.png"/>
                <div id="u779_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u780" class="ax_default heading_2" data-label="Popup Title">
                <div id="u780_div" class=""></div>
                <div id="u780_text" class="text ">
                  <p><span>Carga exitosa</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Droplist) -->
      <div id="u781" class="ax_default droplist" data-label="Entidades">
        <div id="u781_div" class=""></div>
        <select name="entidad" id="u781_input" class="u781_input" required>
          <option class="u781_input_option" value="">Seleccione una Entidad</option>
          {{#each entidades}}
          <option class="u781_input_option" value={{entidad}}>{{nombre}}</option>
          {{/each}}
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u782" class="ax_default heading_1">
        <div id="u782_div" class=""></div>
        <div id="u782_text" class="text ">
          <p><span>Entidad:</span></p>
        </div>
      </div>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle)
      <div id="u785" class="ax_default box_1">
        <div id="u785_div" class=""></div>
        <div id="u785_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>-->

      <!-- Tabs (Group) -->
      <div id="u786" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u787" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle)
          <div id="u788" class="ax_default heading_1">
            <div id="u788_div" class=""></div>
            <div id="u788_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Rectangle)
          <div id="u789" class="ax_default box_1">
            <img id="u789_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u789_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Image)
          <div id="u790" class="ax_default image">
            <img id="u790_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u790_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u791" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u791_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u791_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u792" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u792_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u792_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u793" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u794" class="ax_default box_3" data-label="Inicio" selectiongroup="u784Tabs">
          <div id="u794_div" class=""></div>
          <div id="u794_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u795" class="ax_default icon">
        <img id="u795_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u795_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u796" class="ax_default icon">
        <img id="u796_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u796_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u797" class="ax_default icon">
        <img id="u797_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u797_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>-->

      <!-- Criterios de Categorización (Group) -->
      <div id="u798" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u799" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u799_state0" class="panel_state" data-label="State1" style="">
            <div id="u799_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u800" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u800_div" class=""></div>
                <div id="u800_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u801" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u801_div" class=""></div>
                <div id="u801_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u802" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u802_div" class=""></div>
                <div id="u802_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u803" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u803_div" class=""></div>
          <div id="u803_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u804" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u805" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u805_state0" class="panel_state" data-label="State1" style="">
            <div id="u805_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u806" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u806_div" class=""></div>
                <div id="u806_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u807" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u807_div" class=""></div>
                <div id="u807_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u808" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u808_div" class=""></div>
          <div id="u808_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u809" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u810" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u810_state0" class="panel_state" data-label="State1" style="">
            <div id="u810_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u811" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u811_div" class=""></div>
                <div id="u811_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u812" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u812_div" class=""></div>
                <div id="u812_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u813" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u813_div" class=""></div>
          <div id="u813_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u814" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u815" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u815_state0" class="panel_state" data-label="State1" style="">
            <div id="u815_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u816" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u816_div" class=""></div>
                <div id="u816_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u817" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u817_div" class=""></div>
          <div id="u817_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u818" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u819" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u819_div" class=""></div>
          <div id="u819_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u820" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u820_state0" class="panel_state" data-label="State1" style="">
            <div id="u820_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u821" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u821_div" class=""></div>
                <div id="u821_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u822" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u823" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u823_div" class=""></div>
          <div id="u823_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u824" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u825" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u825_state0" class="panel_state" data-label="State1" style="">
            <div id="u825_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u826" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u826_div" class=""></div>
                <div id="u826_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u827" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u827_div" class=""></div>
          <div id="u827_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u828" class="ax_default" data-label="Menu">
        <div id="u828_state0" class="panel_state" data-label="State1" style="">
          <div id="u828_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u829" class="ax_default icon">
              <img id="u829_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u829_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>-->
          </div>
        </div>
        <div id="u828_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u828_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u830" class="ax_default icon">
              <img id="u830_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u830_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>-->
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u831" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u832" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u832_div" class=""></div>
          <div id="u832_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u833" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u833_state0" class="panel_state" data-label="State1" style="">
            <div id="u833_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u834" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u834_div" class=""></div>
                <div id="u834_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u835" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u836" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u836_state0" class="panel_state" data-label="State1" style="">
            <div id="u836_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u837" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
                <div id="u837_div" class=""></div>
                <div id="u837_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u838" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u784Tabs">
          <div id="u838_div" class=""></div>
          <div id="u838_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u839" class="ax_default icon">
        <img id="u839_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u839_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->
      <div id="u784" style="display:none; visibility:hidden;"></div>

      <!-- RUTA CARGAR INGRESOS (Group) -->
      <div id="u840" class="ax_default ax_default_hidden" data-label="RUTA CARGAR INGRESOS" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u841" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u841_div" class=""></div>
          <div id="u841_text" class="text ">
            <p><span>&gt;&gt; INGRESOS &gt;&gt; CARGAR INGRESO</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
