<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cargar items de egresos</title>

    <!--Import para el css de cargar_items-->
    <link rel="stylesheet" href="files/cargar_items/style.css">

    <!--Import para el boton-->
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>

    <!--Magia JavaScript-->
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Import para la sidebar-->
    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>
</head>

<body>
    <div id="base" class="">
        <form id="formItemsEgreso" action="/cargarItemsEgreso" method="post" onsubmit="return chequearLosDatosIngresados('dataTable')">

        <div id="titulo_cargar_items">
            <p><span>Cargar Items</span></p>
        </div>

        <div id="proveedor_seleccionado">
            <p><span>Entidad: </span></p>
            <input type="datosTraidos" name="txt" class="variables_fijas" value={{egreso.entidad.nombre}} disabled/>
        </div>

        <div id="fecha">
            <p><span>Fecha: </span></p>
            <input type="datosTraidos" name="txt" class="variables_fijas" value={{egreso.fecha}} disabled/>
        </div>

        <div id="metodo_de_pago">
            <p><span>Método de pago: </span></p>
            <input type="datosTraidos" name="txt" class="variables_fijas" value={{egreso.metodoDePago.tipo}} disabled/>
        </div>

        <div id="documento_comercial">
            <p><span>Documento comercial: </span></p>
            <input type="datosTraidos" name="txt" class="variables_fijas" value={{egreso.documentoComercial.tipo}} disabled/>
        </div>

        <div id="botoncitos">
            <input type="button" class="boton_fachero" value="Agregar item" onclick="addRow('dataTable')" />
            <input type="button" class="boton_fachero" value="Eliminar item" onclick="deleteRow('dataTable')" />
        </div>

        <div id="tabla_dinamica">

            <div id="tabla_dinamica_fila">
                <table width="100%" class="tablaCSS">
                    <thead>
                        <tr>
                            <th></th> <!--style="width:2.6%" -->
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Nombre item</th> <!--style="width:24.6%"-->
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Tipo</th>
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Cantidad</th>
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Precio unitario</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <table id="dataTable" class="tablaCSS" width="100%" border="1" position="absolute">
                <tr id="trTable">
                    <td><input type="checkbox" name="chk" style="align: center;"/></td>
                    <td><input name="nombreItem" class="variables" type="text" style="width: 100%; text-align: center;"/></td>
                    <td>
                        <select id="select_b_s" name="tipoItem" class="variables" type="text" style="width: 100%; text-align: center;">
                            <option value="seleccione">Seleccionar...</option>
                            <option value="bien">Bien</option>
                            <option value="servicio">Servicio</option>
                        </select>
                    </td>
                    <td id="celdaCantidad"><input name="cantidad" id="celdaCantidadInput" class="variables" type="text" onkeyup="sumatoria('dataTable')" style="width: 100%; text-align: center;"/></td>
                    <td id="celdaPrecioUnitario"><input name="precioU" type="text" class="variables" onkeyup="sumatoria('dataTable')" style="width: 100%; text-align: center;"/></td>
                </tr>
            </table>
        </div>

        <div id="total">
            <p><span class="total">Total:  </span></p>
            <input name="importeTotal" id="total_input" type="text2" class="variables_fijas" disabled/>
        </div>

        <div id="cargar_items">
            <button type="submit" name="boton_carga_items" class="boton_cargar_items" value={{egreso.egreso}}><!--onclick="getElementsFromTable('dataTable')"-->
                <p><span>Cargar items</span></p>
            </button>

        </div>

        <input id="form_json" name="json" type="txt" style="display:none; visibility:hidden;">

        <div id="includedContent"></div>
        </form>
    </div>

    <script language="javascript">
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var colCount = table.rows[0].cells.length;

			for(var i=0; i<colCount; i++) {

				var newcell	= row.insertCell(i);

				newcell.name = 'celdaNumero'+i;

				newcell.innerHTML = table.rows[0].cells[i].innerHTML;
				//alert(newcell.childNodes);
				switch(newcell.childNodes[0].type) {
					case "text":
							newcell.childNodes[0].value = "";
							break;
					case "checkbox":
							newcell.childNodes[0].checked = false;
							break;
					case "select-one":
							newcell.childNodes[0].selectedIndex = 0;
							break;
				}
			}

			//document.getElementById("total_input").value = String(sumatoria(tableID));

		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					if(rowCount <= 1) {
						alert("Cannot delete all the rows.");
						break;
					}
					table.deleteRow(i);
					rowCount--;
					i--;
				}

			}
			}catch(e) {
				alert(e);
			}

			document.getElementById("total_input").value = String(sumatoria(tableID));
		}

		function sumatoria(tableID) {
		    var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var sumatoria = 0;

            //document.getElementById("total_input").value = "Puto";

            for(var i=0; i<rowCount; i++) {
                //sumatoria += document.getElementById(tableID).rows[i].celdaCantidad * document.getElementById(tableID).rows[i].celdaPrecioUnitario;

                cantidadIngresada = table.rows[i].cells[3].childNodes[0];
                precioIngresado = table.rows[i].cells[4].childNodes[0];

                sumatoria += cantidadIngresada.value * precioIngresado.value;

                //document.write(String(cantidadIngresada.value)+"//");

                //document.write(String(celdaEspecifica);
                //document.getElementById(celdaCantidadInput).value = "Puto";
            }

            //document.write(String(sumatoria));

            sumatoria = " " + sumatoria;

            document.getElementById("total_input").value = String(sumatoria);
            return sumatoria;
		}

        //Llamar a esta funcion cuando apretas el boton de cargar items
        //Loopea por toda la tabla trayendose los valores por fila y arma el json y lo envia
        function getElementsFromTable(tableID) {
		    var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var jsonLindo = '[';

            nombreIngresado = table.rows[1].cells[1].childNodes[0];
            tipoItemIngresado = table.rows[1].cells[2].childNodes[1];
            cantidadIngresada = table.rows[1].cells[3].childNodes[0];
            precioIngresado = table.rows[1].cells[4].childNodes[0];

            jsonLindo = jsonLindo + '{'
                            +'"nombre" : "' + nombreIngresado.value +'",'
                            +'"tipo"  : "' + tipoItemIngresado.value +'",'
                            +'"cantidad" : '+ cantidadIngresada.value +','
                            +'"precio" : ' + precioIngresado.value
                            +'}';

            for(var i = 2; i < rowCount; i++){

                jsonLindo = jsonLindo + ',';

                nombreIngresado = table.rows[i].cells[1].childNodes[0];
                tipoItemIngresado = table.rows[i].cells[2].childNodes[1];
                cantidadIngresada = table.rows[i].cells[3].childNodes[0];
                precioIngresado = table.rows[i].cells[4].childNodes[0];

                //Armo el json

                jsonLindo = jsonLindo + '{'
                            +'"nombre" : "' + nombreIngresado.value +'",'
                            +'"tipo"  : "' + tipoItemIngresado.value +'",'
                            +'"cantidad" : '+ cantidadIngresada.value +','
                            +'"precio" : ' + precioIngresado.value
                            +'}';
            }

            jsonLindo = jsonLindo + ']';
            //document.write(String(jsonLindo));

            document.getElementById("form_json").value = String(jsonLindo);
            document.getElementById("form_json").name="form_json";
            var form=document.getElementById("formItemsEgreso");

            //CREO que no es necesaria esta línea
            form.submit();

            //document.write(String(form_json.value));
        }

        function chequearLosDatosIngresados(tableID){
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var boolRetorno = false;

            for(var i = 1; i < rowCount; i++){
                nombreIngresado = table.rows[i].cells[1].childNodes[0];
                tipoItemIngresado = table.rows[i].cells[2].childNodes[1];
                cantidadIngresada = table.rows[i].cells[3].childNodes[0];
                precioIngresado = table.rows[i].cells[4].childNodes[0];

                if(nombreIngresado.value=='' || tipoItemIngresado.value=='' || cantidadIngresada.value=='' || precioIngresado.value==''){
                    boolRetorno = false;
                }else{
                    boolRetorno = true;
                }
            }

            if(!boolRetorno){
                alert("Por favor complete toda la tabla");
                return false;
            }else{
                getElementsFromTable(tableID);
                return true;
            }
        }

    </script>
</body>
</html>