<!DOCTYPE html>
<html>
  <head>
    <title>Cargar Presupuesto</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/cargar_presupuesto/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <!--<script src="files/cargar_presupuesto/data.js"></script>-->
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
    <div id="base" class="">
      <form action="/cargarPresupuesto" method="post">

      <!-- Popup & Launcher (Group) -->
      <div id="u1145" class="ax_default" data-label="Popup &amp; Launcher" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Popup (Dynamic Panel) -->
        <div id="u1146" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
          <div id="u1146_state0" class="panel_state" data-label="State1" style="">
            <div id="u1146_state0_content" class="panel_state_content">

              <!-- Popup Background (Rectangle) -->
              <div id="u1147" class="ax_default box_1" data-label="Popup Background">
                <div id="u1147_div" class=""></div>
                <div id="u1147_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1148" class="ax_default primary_button">
                <div id="u1148_div" class=""></div>
                <div id="u1148_text" class="text ">
                  <p><span>Cerrar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u1149" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u1149_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1149_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u1150" class="ax_default line" data-label="Top Divider Line">
                <img id="u1150_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1150_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u1151" class="ax_default heading_2" data-label="Popup Title">
                <div id="u1151_div" class=""></div>
                <div id="u1151_text" class="text ">
                  <p><span>Detalle del Presupuesto</span></p>
                </div>
              </div>

              <!-- Unnamed (Dynamic Panel) -->
              <div id="u1152" class="ax_default">
                <div id="u1152_state0" class="panel_state" data-label="State1" style="">
                  <div id="u1152_state0_content" class="panel_state_content">

                    <!-- NroItem (Repeater) -->
                    <div id="u1153" class="ax_default" data-label="NroItem">
                      <script id="u1153_script" type="axure-repeater-template" data-label="NroItem">

                        <!-- NroItem (Rectangle) -->
                        <div id="u1154" class="ax_default box_1 u1154" data-label="NroItem">
                          <div id="u1154_div" class="u1154_div"></div>
                          <div id="u1154_text" class="text u1154_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Precio (Repeater) -->
                    <div id="u1155" class="ax_default" data-label="Precio">
                      <script id="u1155_script" type="axure-repeater-template" data-label="Precio">

                        <!-- Valor (Rectangle) -->
                        <div id="u1156" class="ax_default box_1 u1156" data-label="Valor">
                          <div id="u1156_div" class="u1156_div"></div>
                          <div id="u1156_text" class="text u1156_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- NombreItem (Repeater) -->
                    <div id="u1157" class="ax_default" data-label="NombreItem">
                      <script id="u1157_script" type="axure-repeater-template" data-label="NombreItem">

                        <!-- NombreItem (Shape) -->
                        <div id="u1158" class="ax_default box_1 u1158" data-label="NombreItem">
                          <img id="u1158_img" class="img u1158_img" src="images/cargar_entidad/nombreitem_u381.svg"/>
                          <div id="u1158_text" class="text u1158_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>

                    <!-- Cantidad (Repeater) -->
                    <div id="u1159" class="ax_default" data-label="Cantidad">
                      <script id="u1159_script" type="axure-repeater-template" data-label="Cantidad">

                        <!-- Cantidad (Rectangle) -->
                        <div id="u1160" class="ax_default box_1 u1160" data-label="Cantidad">
                          <div id="u1160_div" class="u1160_div"></div>
                          <div id="u1160_text" class="text u1160_text" style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>
                      </script>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1161" class="ax_default box_11">
                <div id="u1161_div" class=""></div>
                <div id="u1161_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1162" class="ax_default" data-label="Input-Text">
                <div id="u1162_div" class=""></div>
                <div id="u1162_text" class="text ">
                  <p><span>N°</span></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1163" class="ax_default" data-label="Input-Text">
                <div id="u1163_div" class=""></div>
                <div id="u1163_text" class="text ">
                  <p><span>Nombre</span></p>
                </div>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1164" class="ax_default" data-label="Input-Text">
                <div id="u1164_div" class=""></div>
                <div id="u1164_text" class="text ">
                  <p><span>Valor</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u1165" class="ax_default image">
                <img id="u1165_img" class="img " src="images/cargar_entidad/u388.png"/>
                <div id="u1165_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1166" class="ax_default heading_1">
                <div id="u1166_div" class=""></div>
                <div id="u1166_text" class="text ">
                  <p><span>Total:</span></p>
                </div>
              </div>

              <!-- Total (Text Field) -->
              <div id="u1167" class="ax_default text_field disabled" data-label="Total">
                <div id="u1167_div" class="disabled"></div>
                <input id="u1167_input" type="text" value="" class="u1167_input" disabled/>
              </div>

              <!-- Input-Text (Rectangle) -->
              <div id="u1168" class="ax_default" data-label="Input-Text">
                <div id="u1168_div" class=""></div>
                <div id="u1168_text" class="text ">
                  <p><span>Cantidad</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1169" class="ax_default box_1">
        <img id="u1169_img" class="img " src="images/asociar_ingresos_y_egresos/u844.svg"/>
        <div id="u1169_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1170" class="ax_default heading_1">
        <div id="u1170_div" class=""></div>
        <div id="u1170_text" class="text ">
          <p><span>Proveedor:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1171" class="ax_default heading_1">
        <div id="u1171_div" class=""></div>
        <div id="u1171_text" class="text ">
          <p><span>Tipo de Documento Comercial:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle)
      <div id="u1172" class="ax_default heading_1">
        <div id="u1172_div" class=""></div>
        <div id="u1172_text" class="text ">
          <p><span>Agregar item:</span></p>
        </div>
      </div> -->

      <!-- EntradaNombreItem (Text Field)
      <div id="u1173" class="ax_default text_field" data-label="EntradaNombreItem">
        <div id="u1173_div" class=""></div>
        <input name="item" id="u1173_input" type="text" value="" class="u1173_input"/>
      </div> -->

      <!-- EntradaValorItem (Text Field)
      <div id="u1174" class="ax_default text_field" data-label="EntradaValorItem">
        <div id="u1174_div" class=""></div>
        <input name="valor" id="u1174_input" type="text" value="" class="u1174_input"/>
      </div> -->

      <!-- Unnamed (Group) -->
      <div id="u1175" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u1176" class="ax_default droplist">
        <div id="u1176_div" class=""></div>
        <select name="proveedor" id="u1176_input" class="u1176_input" required>
          <option class="u1176_input_option" value="">Seleccionar Proveedor</option>
          {{#each proveedor}}
          <option class="u1176_input_option" value={{proveedor}}>{{nombre}}</option>
          {{/each}}
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u1177" class="ax_default droplist">
        <div id="u1177_div" class=""></div>
        <select name="documentoComercial" id="u1177_input" class="u1177_input" required>
          <option class="u1177_input_option" value="">Seleccionar Documento Comercial</option>
         {{#each documentos}}
          <option class="u1177_input_option" value={{.}} >{{.}}</option>
          {{/each}}
        </select>
      </div>

      <!-- Unnamed (Image)
      <div id="u1178" class="ax_default image">
        <img id="u1178_img" class="img " src="images/cargar_egreso/u534.png"/>
        <div id="u1178_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Table Title Bar (Group) -->
      <div id="u1179" class="ax_default" data-label="Table Title Bar" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1180" class="ax_default heading_1">
        <div id="u1180_div" class=""></div>
        <div id="u1180_text" class="text ">
          <p><span>&nbsp;Cargar Presupuesto</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1181" class="ax_default heading_1">
        <div id="u1181_div" class=""></div>
        <div id="u1181_text" class="text ">
          <p><span>Fecha:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1182" class="ax_default text_field">
        <div id="u1182_div" class=""></div>
        <input name="fecha" id="u1182_input" type="date" value="Fecha" class="u1182_input" required/>
      </div>


      <div id="u1183" class="ax_default heading_1">
        <div id="u1183_div" class=""></div>
        <div id="u1183_text" class="text ">
          <p><span>Descripción:</span></p>
        </div>
      </div>

      <div id="u1184" class="ax_default text_area">
          <textarea id="descripcionPresupuesto" name="descripcionPresupuesto" style="width: 305px; height: 30px; resize: none;"></textarea>
      </div>
      <!-- Unnamed (Rectangle) -->
      <div id="u1185" class="ax_default heading_1">
        <div id="u1185_div" class=""></div>
        <div id="u1185_text" class="text ">
          <p><span>Agregar Comprobante:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1186" class="ax_default text_field">
        <div id="u1186_div" class=""></div>
        <input id="u1186_input" type="file" value="" class="u1186_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1187" class="ax_default text_field">
        <div id="u1187_div" class=""></div>
        <input name="linkComprobante" id="u1187_input" value="" class="u1187_input" placeholder="Agregue un link de acceso"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <button type="submit" id="u1188" class="ax_default primary_button">
        <div id="u1188_div" class=""></div>
        <div id="u1188_text" class="text ">
          <p><span>Cargar items</span></p>
        </div>
      </button>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u1189" class="ax_default">
        <div id="u1189_state0" class="panel_state" data-label="State1" style="">
          <div id="u1189_state0_content" class="panel_state_content">

            <div id="u340" class="ax_default line">
              <img id="u340_img" class="img " src="images/cargar_entidad/u340.svg"/>
              <div id="u340_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <div id="u341" class="ax_default heading_1">
              <div id="u341_div" class=""></div>
              <div id="u341_text" class="text ">
                <p><span>Presupuestos existentes:</span></p>
              </div>
            </div>

            <table id="u5959" class="tablaCSS">
              <thead>
              <tr>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Proveedor</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Fecha</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width: 25%">Documento comercial</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Total</th>
              </tr>
              </thead>
              <tbody>
              {{#each egreso}}
              <tr>
                <td>{{proveedor.nombre}}</td>
                <td>{{fecha}}</td>
                <td>{{documentoComercial.tipo}}</td>
                <td>{{valor}}</td>
              </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Barra (Group) -->
      <div id="u1203" class="ax_default" data-label="Barra" data-left="414" data-top="165" data-width="773" data-height="30">

      </div>

      <!-- Popup (Dynamic Panel) -->
      <div id="u1211" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u1211_state0" class="panel_state" data-label="State1" style="">
          <div id="u1211_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u1212" class="ax_default" data-left="0" data-top="0" data-width="599.000000924387" data-height="260.00055308916">

              <!-- Popup Background (Rectangle) -->
              <div id="u1213" class="ax_default box_1" data-label="Popup Background">
                <div id="u1213_div" class=""></div>
                <div id="u1213_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u1214" class="ax_default primary_button">
                <img id="u1214_img" class="img " src="images/usuario/u201.svg"/>
                <div id="u1214_text" class="text ">
                  <p><span>Aceptar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u1215" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u1215_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1215_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u1216" class="ax_default line" data-label="Top Divider Line">
                <img id="u1216_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
                <div id="u1216_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u1217" class="ax_default heading_3" data-label="Summary Text">
                <div id="u1217_div" class=""></div>
                <div id="u1217_text" class="text ">
                  <p><span>La carga del Presupuesto se registró correctamente en el sistema.</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u1218" class="ax_default image">
                <img id="u1218_img" class="img " src="images/usuario/u225.png"/>
                <div id="u1218_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u1219" class="ax_default heading_2" data-label="Popup Title">
                <div id="u1219_div" class=""></div>
                <div id="u1219_text" class="text ">
                  <p><span>Carga exitosa</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Droplist)
      <div id="u1220" class="ax_default droplist" data-label="Entidades">
        <div id="u1220_div" class=""></div>
        <select name="entidad" id="u1220_input" class="u1220_input">
          <option class="u1220_input_option" value="Seleccione una Entidad">Seleccione una Entidad</option>
          <option class="u1220_input_option" value="Entidad 1">Entidad 1</option>
          <option class="u1220_input_option" value="Entidad 2">Entidad 2</option>
          <option class="u1220_input_option" value="Entidad 3">Entidad 3</option>
        </select>
      </div> -->

      <!-- Unnamed (Rectangle)
      <div id="u1221" class="ax_default heading_1">
        <div id="u1221_div" class=""></div>
        <div id="u1221_text" class="text ">
          <p><span>Entidad:</span></p>
        </div>
      </div>-->

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle)
      <div id="u1223" class="ax_default box_1">
        <div id="u1223_div" class=""></div>
        <div id="u1223_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Tabs (Group) -->
      <div id="u1224" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u1225" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle)
          <div id="u1226" class="ax_default heading_1">
            <div id="u1226_div" class=""></div>
            <div id="u1226_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Rectangle)
          <div id="u1227" class="ax_default box_1">
            <img id="u1227_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u1227_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Image)
          <div id="u1228" class="ax_default image">
            <img id="u1228_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u1228_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1229" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1229_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u1229_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1230" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1230_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u1230_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u1231" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u1232" class="ax_default box_3" data-label="Inicio" selectiongroup="u1222Tabs">
          <div id="u1232_div" class=""></div>
          <div id="u1232_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u1233" class="ax_default icon">
        <img id="u1233_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u1233_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u1234" class="ax_default icon">
        <img id="u1234_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u1234_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u1235" class="ax_default icon">
        <img id="u1235_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u1235_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Criterios de Categorización (Group) -->
      <div id="u1236" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1237" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1237_state0" class="panel_state" data-label="State1" style="">
            <div id="u1237_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1238" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1238_div" class=""></div>
                <div id="u1238_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1239" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1239_div" class=""></div>
                <div id="u1239_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1240" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1240_div" class=""></div>
                <div id="u1240_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1241" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1241_div" class=""></div>
          <div id="u1241_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u1242" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1243" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1243_state0" class="panel_state" data-label="State1" style="">
            <div id="u1243_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1244" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1244_div" class=""></div>
                <div id="u1244_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1245" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1245_div" class=""></div>
                <div id="u1245_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1246" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1246_div" class=""></div>
          <div id="u1246_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u1247" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1248" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1248_state0" class="panel_state" data-label="State1" style="">
            <div id="u1248_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1249" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1249_div" class=""></div>
                <div id="u1249_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1250" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1250_div" class=""></div>
                <div id="u1250_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1251" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1251_div" class=""></div>
          <div id="u1251_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u1252" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1253" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1253_state0" class="panel_state" data-label="State1" style="">
            <div id="u1253_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1254" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1254_div" class=""></div>
                <div id="u1254_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1255" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1255_div" class=""></div>
          <div id="u1255_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u1256" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1257" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1257_div" class=""></div>
          <div id="u1257_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1258" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1258_state0" class="panel_state" data-label="State1" style="">
            <div id="u1258_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1259" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1259_div" class=""></div>
                <div id="u1259_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u1260" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1261" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1261_div" class=""></div>
          <div id="u1261_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u1262" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1263" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1263_state0" class="panel_state" data-label="State1" style="">
            <div id="u1263_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1264" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1264_div" class=""></div>
                <div id="u1264_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1265" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1265_div" class=""></div>
          <div id="u1265_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u1266" class="ax_default" data-label="Menu">
        <div id="u1266_state0" class="panel_state" data-label="State1" style="">
          <div id="u1266_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u1267" class="ax_default icon">
              <img id="u1267_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1267_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>-->
          </div>
        </div>
        <div id="u1266_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u1266_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u1268" class="ax_default icon">
              <img id="u1268_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1268_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>-->
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u1269" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1270" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1270_div" class=""></div>
          <div id="u1270_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1271" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1271_state0" class="panel_state" data-label="State1" style="">
            <div id="u1271_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1272" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1272_div" class=""></div>
                <div id="u1272_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u1273" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1274" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1274_state0" class="panel_state" data-label="State1" style="">
            <div id="u1274_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1275" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
                <div id="u1275_div" class=""></div>
                <div id="u1275_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1276" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1222Tabs">
          <div id="u1276_div" class=""></div>
          <div id="u1276_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u1277" class="ax_default icon">
        <img id="u1277_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u1277_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->
      <div id="u1222" style="display:none; visibility:hidden;"></div>

      <!-- RUTA CARGAR PRESUPUESTO (Group) -->
      <div id="u1278" class="ax_default ax_default_hidden" data-label="RUTA CARGAR PRESUPUESTO" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1279" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u1279_div" class=""></div>
          <div id="u1279_text" class="text ">
            <p><span>&gt;&gt; PRESUPUESTOS &gt;&gt; CARGAR PRESUPUESTO</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
