<!DOCTYPE html>
<html>
  <head>
    <title>Crear Categoria</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/crear_categoria/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <!--<script src="files/crear_categoria/data.js"></script>-->
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
  <form action="/crearCategoria" method="post">
    <div id="base" class="">
      <!-- Popup (Dynamic Panel) -->
      <div id="u1366" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u1366_state0" class="panel_state" data-label="State1" style="">
          <div id="u1366_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u1367" class="ax_default" data-left="0" data-top="0" data-width="599.000000924387" data-height="260.00055308916">

              <!-- Popup Background (Rectangle) -->
              <div id="u1368" class="ax_default box_1" data-label="Popup Background">
                <div id="u1368_div" class=""></div>
                <div id="u1368_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u1369" class="ax_default primary_button">
                <img id="u1369_img" class="img " src="images/usuario/u201.svg"/>
                <div id="u1369_text" class="text ">
                  <p><span>Aceptar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u1370" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u1370_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1370_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u1371" class="ax_default line" data-label="Top Divider Line">
                <img id="u1371_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
                <div id="u1371_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u1372" class="ax_default heading_3" data-label="Summary Text">
                <div id="u1372_div" class=""></div>
                <div id="u1372_text" class="text ">
                  <p><span>La creación de la Categoría se registró correctamente en el sistema.</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u1373" class="ax_default image">
                <img id="u1373_img" class="img " src="images/usuario/u225.png"/>
                <div id="u1373_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u1374" class="ax_default heading_2" data-label="Popup Title">
                <div id="u1374_div" class=""></div>
                <div id="u1374_text" class="text ">
                  <p><span>Creación exitosa</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1375" class="ax_default box_1">
        <img id="u1375_img" class="img " src="images/asociar_ingresos_y_egresos/u844.svg"/>
        <div id="u1375_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1376" class="ax_default" data-left="45" data-top="2" data-width="249" data-height="68">

        <!-- Unnamed (Rectangle)
        <div id="u1377" class="ax_default heading_1">
          <div id="u1377_div" class=""></div>
          <div id="u1377_text" class="text ">
            <p style="font-size:35px;"><span style="font-family:'Calibri Bold Italic', 'Calibri Regular', 'Calibri', sans-serif;font-style:italic;color:#D9463B;">GeSoc</span></p><p style="font-size:15px;"><span style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;font-style:normal;color:#000000;">Gestión de Proyectos Sociales</span></p>
          </div>
        </div> -->

        <!-- Unnamed (Image)
        <div id="u1378" class="ax_default image">
          <img id="u1378_img" class="img " src="images/usuario/u181.png"/>
          <div id="u1378_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div> -->
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1379" class="ax_default heading_1">
        <div id="u1379_div" class=""></div>
        <div id="u1379_text" class="text ">
          <p><span>&nbsp;Crear Categoría</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1380" class="ax_default" data-left="497" data-top="165" data-width="338" data-height="390">

        <!-- Unnamed (Rectangle) -->
        <div id="u1381" class="ax_default heading_1">
          <div id="u1381_div" class=""></div>
          <div id="u1381_text" class="text ">
            <p><span>Nombre:</span></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u1382" class="ax_default line">
          <img id="u1382_img" class="img " src="images/usuario/u187.svg"/>
          <div id="u1382_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1383" class="ax_default heading_1">
          <div id="u1383_div" class=""></div>
          <div id="u1383_text" class="text ">
            <p><span>Nombre y Descripción de la Categoría</span></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u1384" class="ax_default line">
          <img id="u1384_img" class="img " src="images/usuario/u187.svg"/>
          <div id="u1384_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1385" class="ax_default heading_1">
          <div id="u1385_div" class=""></div>
          <div id="u1385_text" class="text ">
            <p><span>Asociar con Criterio</span></p>
          </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u1386" class="ax_default droplist">
          <div id="u1386_div" class=""></div>
          <select name="criterioAsociado" id="u1386_input" class="u1386_input" required>
            <option class="u1386_input_option" value="">Seleccionar un Criterio</option>
            {{#each criterios}}
            <option class="u1386_input_option" value={{criterio}}>{{nombreCriterio}}</option>
            {{/each}}
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1387" class="ax_default text_field">
          <div id="u1387_div" class=""></div>
          <input type="text" id="u1387_input"  name="nombreCategoria"  placeholder="Ingrese un nombre para la categoría" required>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1388" class="ax_default heading_1">
          <div id="u1388_div" class=""></div>
          <div id="u1388_text" class="text ">
            <p><span>Descripción:</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1389" class="ax_default heading_1">
          <div id="u1389_div" class=""></div>
          <div id="u1389_text" class="text ">
            <p><span>Criterio asociado:</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Area) -->
        <div id="u1390" class="ax_default text_area">
          <div id="u1390_div" class=""></div>
          <textarea name="descripcion" id="u1390_input" class="u1390_input" placeholder="Ingrese una descripción" required></textarea>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <button id="u1391" class="ax_default primary_button">
        <div id="u1391_div" class=""></div>
        <div id="u1391_text" class="text ">
          <p><span>Crear</span></p>
        </div>
      </button>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle)
      <div id="u1393" class="ax_default box_1">
        <div id="u1393_div" class=""></div>
        <div id="u1393_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Tabs (Group) -->
      <div id="u1394" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u1395" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle)
          <div id="u1396" class="ax_default heading_1">
            <div id="u1396_div" class=""></div>
            <div id="u1396_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Rectangle)
          <div id="u1397" class="ax_default box_1">
            <img id="u1397_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u1397_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Image)
          <div id="u1398" class="ax_default image">
            <img id="u1398_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u1398_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1399" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1399_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u1399_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1400" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1400_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u1400_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u1401" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u1402" class="ax_default box_3" data-label="Inicio" selectiongroup="u1392Tabs">
          <div id="u1402_div" class=""></div>
          <div id="u1402_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u1403" class="ax_default icon">
        <img id="u1403_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u1403_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u1404" class="ax_default icon">
        <img id="u1404_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u1404_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u1405" class="ax_default icon">
        <img id="u1405_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u1405_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Criterios de Categorización (Group) -->
      <div id="u1406" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1407" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1407_state0" class="panel_state" data-label="State1" style="">
            <div id="u1407_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1408" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1408_div" class=""></div>
                <div id="u1408_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1409" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1409_div" class=""></div>
                <div id="u1409_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1410" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1410_div" class=""></div>
                <div id="u1410_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1411" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1411_div" class=""></div>
          <div id="u1411_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u1412" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1413" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1413_state0" class="panel_state" data-label="State1" style="">
            <div id="u1413_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1414" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1414_div" class=""></div>
                <div id="u1414_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1415" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1415_div" class=""></div>
                <div id="u1415_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1416" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1416_div" class=""></div>
          <div id="u1416_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u1417" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1418" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1418_state0" class="panel_state" data-label="State1" style="">
            <div id="u1418_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1419" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1419_div" class=""></div>
                <div id="u1419_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1420" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1420_div" class=""></div>
                <div id="u1420_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1421" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1421_div" class=""></div>
          <div id="u1421_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u1422" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1423" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1423_state0" class="panel_state" data-label="State1" style="">
            <div id="u1423_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1424" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1424_div" class=""></div>
                <div id="u1424_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1425" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1425_div" class=""></div>
          <div id="u1425_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u1426" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1427" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1427_div" class=""></div>
          <div id="u1427_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1428" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1428_state0" class="panel_state" data-label="State1" style="">
            <div id="u1428_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1429" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1429_div" class=""></div>
                <div id="u1429_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u1430" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1431" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1431_div" class=""></div>
          <div id="u1431_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u1432" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1433" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1433_state0" class="panel_state" data-label="State1" style="">
            <div id="u1433_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1434" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1434_div" class=""></div>
                <div id="u1434_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1435" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1435_div" class=""></div>
          <div id="u1435_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u1436" class="ax_default" data-label="Menu">
        <div id="u1436_state0" class="panel_state" data-label="State1" style="">
          <div id="u1436_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u1437" class="ax_default icon">
              <img id="u1437_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1437_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
        <div id="u1436_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u1436_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u1438" class="ax_default icon">
              <img id="u1438_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1438_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u1439" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1440" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1440_div" class=""></div>
          <div id="u1440_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1441" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1441_state0" class="panel_state" data-label="State1" style="">
            <div id="u1441_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1442" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1442_div" class=""></div>
                <div id="u1442_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u1443" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1444" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1444_state0" class="panel_state" data-label="State1" style="">
            <div id="u1444_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1445" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
                <div id="u1445_div" class=""></div>
                <div id="u1445_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1446" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1392Tabs">
          <div id="u1446_div" class=""></div>
          <div id="u1446_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u1447" class="ax_default icon">
        <img id="u1447_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u1447_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->
      <div id="u1392" style="display:none; visibility:hidden;"></div>

      <!-- RUTA CREAR CATEGORIA (Group) -->
      <div id="u1448" class="ax_default ax_default_hidden" data-label="RUTA CREAR CATEGORIA" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1449" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u1449_div" class=""></div>
          <div id="u1449_text" class="text ">
            <p><span>&gt;&gt; CRITERIOS DE CATEGORIZACIÓN &gt;&gt; CREAR CATEGORÍA</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>

    </div>
  </form>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
