<!DOCTYPE html>
<html>
  <head>
    <title>Crear Criterio</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/crear_criterio/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <!--<script src="files/crear_criterio/data.js"></script>-->
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
    <div id="base" class="">
      <form action="/crearCriterio" method="post">

      <!-- Popup (Dynamic Panel) -->
      <div id="u1280" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u1280_state0" class="panel_state" data-label="State1" style="">
          <div id="u1280_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u1281" class="ax_default" data-left="0" data-top="0" data-width="599.000000924387" data-height="260.00055308916">

              <!-- Popup Background (Rectangle) -->
              <div id="u1282" class="ax_default box_1" data-label="Popup Background">
                <div id="u1282_div" class=""></div>
                <div id="u1282_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u1283" class="ax_default primary_button">
                <img id="u1283_img" class="img " src="images/usuario/u201.svg"/>
                <div id="u1283_text" class="text ">
                  <p><span>Aceptar</span></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u1284" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u1284_img" class="img " src="images/cargar_entidad/bottom_divider_line_u372.svg"/>
                <div id="u1284_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u1285" class="ax_default line" data-label="Top Divider Line">
                <img id="u1285_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
                <div id="u1285_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u1286" class="ax_default heading_3" data-label="Summary Text">
                <div id="u1286_div" class=""></div>
                <div id="u1286_text" class="text ">
                  <p><span>La creación del Criterio se registró correctamente en el sistema.</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u1287" class="ax_default image">
                <img id="u1287_img" class="img " src="images/usuario/u225.png"/>
                <div id="u1287_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u1288" class="ax_default heading_2" data-label="Popup Title">
                <div id="u1288_div" class=""></div>
                <div id="u1288_text" class="text ">
                  <p><span>Creación exitosa</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1289" class="ax_default" data-left="506" data-top="165" data-width="338" data-height="278">

        <!-- Unnamed (Rectangle) -->
        <div id="u1290" class="ax_default heading_1">
          <div id="u1290_div" class=""></div>
          <div id="u1290_text" class="text ">
            <p><span>Nombre:</span></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u1291" class="ax_default line">
          <img id="u1291_img" class="img " src="images/usuario/u187.svg"/>
          <div id="u1291_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1292" class="ax_default heading_1">
          <div id="u1292_div" class=""></div>
          <div id="u1292_text" class="text ">
            <p><span>Nombre y Descripción del Criterio</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1293" class="ax_default text_field">
          <div id="u1293_div" class=""></div>
          <input name="nombreCriterio" id="u1293_input" type="text" class="u1293_input" placeholder="Ingrese un nombre para el Criterio" required/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1294" class="ax_default heading_1">
          <div id="u1294_div" class=""></div>
          <div id="u1294_text" class="text ">
            <p><span>Descripción:</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Area) -->
        <div id="u1295" class="ax_default text_area">
          <div id="u1295_div" class=""></div>
          <textarea name="descripcion" id="u1295_input" class="u1295_input" placeholder="Ingrese una descripción del Criterio" required></textarea>
        </div>

        <div id="u12944" class="ax_default heading_1">
          <div id="u12944_div" class=""></div>
          <div id="u12944_text" class="text ">
            <p><span>Seleccione una Empresa:</span></p>
          </div>
        </div>

        <div id="u305" class="ax_default droplist">
          <div id="u305_div" class=""></div>
          <select id="u305_input" class="u305_input" required>
            <option value="">Seleccionar Empresa</option>
            {{#each entidades}}
            <option class="u305_input_option" value={{entidad}}>{{nombre}}</option>
            {{/each}}
          </select>
        </div>

        <div id="u129444" class="ax_default heading_1">
          <div id="u129444_div" class=""></div>
          <div id="u129444_text" class="text ">
            <p><span>Seleccione un Criterio:</span></p>
          </div>
        </div>

        <div id="u3055" class="ax_default droplist">
          <div id="u3055_div" class=""></div>
          <select id="u3055_input" class="u305_input" required>
            <option value="">Seleccionar Criterio</option>
            {{#each criterios}}
            <option class="u305_input_option" value={{criterio}}>{{nombre}}</option>
            {{/each}}
          </select>
          </select>
        </div>

      </div>
      <!-- Unnamed (Rectangle) -->
      <div id="u1296" class="ax_default box_1">
        <img id="u1296_img" class="img " src="images/asociar_ingresos_y_egresos/u844.svg"/>
        <div id="u1296_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>


      <!-- Unnamed (Group) -->
      <div id="u1297" class="ax_default" data-left="45" data-top="2" data-width="249" data-height="68">

        <!-- Unnamed (Rectangle)
        <div id="u1298" class="ax_default heading_1">
          <div id="u1298_div" class=""></div>
          <div id="u1298_text" class="text ">
            <p style="font-size:35px;"><span style="font-family:'Calibri Bold Italic', 'Calibri Regular', 'Calibri', sans-serif;font-style:italic;color:#D9463B;">GeSoc</span></p><p style="font-size:15px;"><span style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;font-style:normal;color:#000000;">Gestión de Proyectos Sociales</span></p>
          </div>
        </div> -->

        <!-- Unnamed (Image)
        <div id="u1299" class="ax_default image">
          <img id="u1299_img" class="img " src="images/usuario/u181.png"/>
          <div id="u1299_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div> -->
      </div>

      <!-- Unnamed (Rectangle) -->
      <button id="u1300" class="ax_default primary_button">
        <div id="u1300_div" class=""></div>
        <div id="u1300_text" class="text ">
          <p><span>Crear</span></p>
        </div>
      </button>

      <!-- Unnamed (Rectangle) -->
      <div id="u1301" class="ax_default heading_1">
        <div id="u1301_div" class=""></div>
        <div id="u1301_text" class="text ">
          <p><span>&nbsp;Crear Criterio</span></p>
        </div>
      </div>

      <!-- Jerarquia (Group) -->
      <div id="u1302" class="ax_default ax_default_hidden" data-label="Jerarquia" style="display:none; visibility: hidden" data-left="516" data-top="464" data-width="338" data-height="161">

        <!-- Unnamed (Rectangle) -->
        <div id="u1303" class="ax_default primary_button">
          <div id="u1303_div" class=""></div>
          <div id="u1303_text" class="text ">
            <p><span>Crear</span></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u1304" class="ax_default line">
          <img id="u1304_img" class="img " src="images/usuario/u187.svg"/>
          <div id="u1304_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1305" class="ax_default heading_1">
          <div id="u1305_div" class=""></div>
          <div id="u1305_text" class="text ">
            <p><span>Asociar con otro Criterio</span></p>
          </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u1306" class="ax_default droplist">
          <div id="u1306_div" class=""></div>
          <select id="u1306_input" class="u1306_input">
            <option class="u1306_input_option" value="Seleccionar un Criterio (opcional)">Seleccionar un Criterio (opcional)</option>
            <option class="u1306_input_option" value="Criterio 1">Criterio 1</option>
            <option class="u1306_input_option" value="Criterio 2">Criterio 2</option>
            <option class="u1306_input_option" value="Criterio 3">Criterio 3</option>
          </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1307" class="ax_default heading_1">
          <div id="u1307_div" class=""></div>
          <div id="u1307_text" class="text ">
            <p><span>Criterio asociado:</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle)
      <div id="u1309" class="ax_default box_1">
        <div id="u1309_div" class=""></div>
        <div id="u1309_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1984" class="ax_default">
          <div id="u1984_state0" class="panel_state" data-label="State1" style="">
            <div id="u1984_state0_content" class="panel_state_content" style="width:100%;">
              <table id="u57577" class="tablaCSS">
                <!--cellpadding="0" cellspacing="0" style="margin: 0px auto; font-family:verdana; font-size:110%; color:#515559;"-->
                <thead>
                <tr>
                  <!-- style=" border: 1px solid #515559; background-color:#e5e5e5;" -->
                  <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Nombre</th>
                  <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Descripción</th>
                </tr>
                </thead>
                <tbody>
                {{#each criterios}}
                <tr> <!-- style=" border: 1px solid #515559;" -->
                  <td>{{nombreCriterio}}</td>
                  <td>{{descripcion}}</td><!-- style=" border: 1px solid #515559;" -->
                </tr>
                {{/each}}

                </tbody>
              </table>

            </div>
          </div>
        </div>



      <!-- Tabs (Group) -->
      <div id="u1310" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u1311" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle)
          <div id="u1312" class="ax_default heading_1">
            <div id="u1312_div" class=""></div>
            <div id="u1312_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Rectangle)
          <div id="u1313" class="ax_default box_1">
            <img id="u1313_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u1313_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Image)
          <div id="u1314" class="ax_default image">
            <img id="u1314_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u1314_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1315" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1315_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u1315_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1316" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1316_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u1316_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u1317" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u1318" class="ax_default box_3" data-label="Inicio" selectiongroup="u1308Tabs">
          <div id="u1318_div" class=""></div>
          <div id="u1318_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u1319" class="ax_default icon">
        <img id="u1319_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u1319_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u1320" class="ax_default icon">
        <img id="u1320_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u1320_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u1321" class="ax_default icon">
        <img id="u1321_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u1321_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Criterios de Categorización (Group) -->
      <div id="u1322" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1323" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1323_state0" class="panel_state" data-label="State1" style="">
            <div id="u1323_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1324" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1324_div" class=""></div>
                <div id="u1324_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1325" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1325_div" class=""></div>
                <div id="u1325_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1326" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1326_div" class=""></div>
                <div id="u1326_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1327" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1327_div" class=""></div>
          <div id="u1327_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u1328" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1329" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1329_state0" class="panel_state" data-label="State1" style="">
            <div id="u1329_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1330" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1330_div" class=""></div>
                <div id="u1330_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1331" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1331_div" class=""></div>
                <div id="u1331_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1332" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1332_div" class=""></div>
          <div id="u1332_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u1333" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1334" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1334_state0" class="panel_state" data-label="State1" style="">
            <div id="u1334_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1335" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1335_div" class=""></div>
                <div id="u1335_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1336" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1336_div" class=""></div>
                <div id="u1336_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1337" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1337_div" class=""></div>
          <div id="u1337_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u1338" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1339" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1339_state0" class="panel_state" data-label="State1" style="">
            <div id="u1339_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1340" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1340_div" class=""></div>
                <div id="u1340_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1341" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1341_div" class=""></div>
          <div id="u1341_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u1342" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1343" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1343_div" class=""></div>
          <div id="u1343_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1344" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1344_state0" class="panel_state" data-label="State1" style="">
            <div id="u1344_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1345" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1345_div" class=""></div>
                <div id="u1345_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u1346" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1347" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1347_div" class=""></div>
          <div id="u1347_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u1348" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1349" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1349_state0" class="panel_state" data-label="State1" style="">
            <div id="u1349_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1350" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1350_div" class=""></div>
                <div id="u1350_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1351" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1351_div" class=""></div>
          <div id="u1351_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u1352" class="ax_default" data-label="Menu">
        <div id="u1352_state0" class="panel_state" data-label="State1" style="">
          <div id="u1352_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u1353" class="ax_default icon">
              <img id="u1353_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1353_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
        <div id="u1352_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u1352_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u1354" class="ax_default icon">
              <img id="u1354_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1354_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u1355" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1356" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1356_div" class=""></div>
          <div id="u1356_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1357" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1357_state0" class="panel_state" data-label="State1" style="">
            <div id="u1357_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1358" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1358_div" class=""></div>
                <div id="u1358_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u1359" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1360" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1360_state0" class="panel_state" data-label="State1" style="">
            <div id="u1360_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1361" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
                <div id="u1361_div" class=""></div>
                <div id="u1361_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1362" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1308Tabs">
          <div id="u1362_div" class=""></div>
          <div id="u1362_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u1363" class="ax_default icon">
        <img id="u1363_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u1363_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->
      <div id="u1308" style="display:none; visibility:hidden;"></div>

      <!-- RUTA CREAR CRITERIO (Group) -->
      <div id="u1364" class="ax_default ax_default_hidden" data-label="RUTA CREAR CRITERIO" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1365" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u1365_div" class=""></div>
          <div id="u1365_text" class="text ">
            <p><span>&gt;&gt; CRITERIOS DE CATEGORIZACIÓN &gt;&gt; CREAR CRITERIO</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
