<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle Presupuesto</title>
    <!--Import para el css de cargar_items-->
    <link rel="stylesheet" href="files/detalle/style.css">

    <!--Import para el boton-->
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>

    <!--Magia JavaScript-->
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Import para la sidebar-->
    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>
</head>
<body>
<div id="titulo_cargar_items">
    <p><span>Detalle de presupuesto</span></p>
</div>

<div id="proveedor_seleccionado">
    <p><span>Filtre por proveedor: </span></p>
</div>

<select id="select_proveedor" class="selects_bonitos"  onchange="redireccionar()" type="text" name="txt" style="top 5%; width: 20%; text-align: center; position:absolute">

    {{#if proveedorFiltro includeZero=true}}
    <option value={{proveedorFiltro.proveedor}} selected>{{proveedorFiltro.nombre}}</option>
    {{else}}
    <option value="seleccione">Seleccionar...</option>
    {{/if}}
    {{#each proveedores}}
    <option value={{proveedor}}>{{nombre}}</option>
    {{/each}}
</select>

<div id="fecha_seleccionada">
    <p><span>Filtre por fecha: </span></p>
</div>

<div id="fecha_posta_div_div" class="ax_default text_field">
    <div id="fecha_posta_div" class="" onchange="redireccionar()"></div>
    <input name="fecha" id="fecha_posta" type="date" value="Fecha" onchange="redireccionar()" class="u854_input"/>
</div>

<div id="criterio_seleccionado">
    <p><span>Filtre por categoría/criterio: </span></p>
</div>

<select id="select_criterio" class="selects_bonitos" type="text" onchange="redireccionar()" name="txt" style="top 5%; width: 20%; text-align: center; position:absolute">
   {{#if categoriaFiltro includeZero=true}}
    <option value={{categoriaFiltro.categoria}} selected> {{categoriaFiltro.nombreDeCategoria}}</option>
    {{else}}
    <option value="seleccione">Seleccionar...</option>
    {{/if}}
    {{#each categorias}}
    <option value={{categoria}}>{{nombreCategoria}}</option>
    {{/each}}
</select>

<div id="egreso_seleccionado">
    <p><span>Presupuestos: </span></p>
</div>

<select id="select_egreso" class="selects_bonitos" onchange="redireccionar()" type="text" name="txt" style="top 5%; width: 20%; text-align: center; position:absolute">
    <option value="seleccione">Seleccionar...</option>
    {{#each presupuestos}}
    <option value={{presupuesto}} >{{descripcion}}</option>
    {{/each}}
</select>

<div id="detalle_posta">
    <div>
        <p><span>Proveedor:
            {{#if presupuesto includedZero= true}}
        <input name="txt" class="variables_fijas" value={{presupuesto.proveedor.nombre}} disabled/>
            {{else}}
            <input name="txt" class="variables_fijas" value="-" disabled/>
            {{/if}}
        </span></p>
    </div>

    <div>
        {{#if presupuesto includeZero=true}}
        <input id="fecha_detalle_con_valor" name="txt" class="variables_fecha" value={{presupuesto.fecha}} disabled/>
        {{else}}
        <input id="fecha_detalle" name="txt" class="variables_fecha" value="-" disabled/>
        {{/if}}
    </div>


    <div id="tabla_dinamica_fila">
        <table width="100%" class="tablaCSS">
            <thead>
            <tr>
                <th></th> <!--style="width:2.6%" -->
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Nombre item</th> <!--style="width:24.6%"-->
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Tipo</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Cantidad</th>
                <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Precio de unitario</th>
            </tr>
            </thead>
        </table>
    </div>

    <table id="dataTable" class="tablaCSS" width="100%" border="1" position="absolute">
        {{#each detalles}}
        <tr id="trTable">
            <td><input type="checkbox" name="chk" style="align: center;"/></td>
            <td><input class="variables" type="text" name="txt" value={{descripcion}} style="width: 100%; text-align: center;"/></td>
            <td id="celdaTipo"><input id="celdaTipoInput" class="variables" type="text" value="Producto"  name="txt" style="width: 100%; text-align: center;" disabled /></td>
            <td id="celdaCantidad"><input id="celdaCantidadInput" class="variables" type="text"  value={{cantidad}} onkeyup="sumatoria('dataTable')"  name="txt" style="width: 100%; text-align: center;" disabled /></td>
            <td id="celdaPrecioUnitario"><input type="text" class="variables" name="txt" value={{valor}} style="width: 100%; text-align: center;" disabled /></td>
        </tr>
        {{/each}}
    </table>

    <div>
        <p><span>Egresos asociados:
            {{#if egresoPactado includeZero=true}}
            <input name="txt" class="variables_fijas" value={{egresoPactado.descripcion}} disabled/>
            {{else}}
            <input name="txt" class="variables_fijas" value="-" disabled />
            {{/if}}
        </span></p>
    </div>

    <div>
        <p><span>Criterios/catg asociados:
            {{#if catAsociado includeZero=true}}
            <input name="txt" class="variables_fijas" value={{catAsociado.nombreDeCategoria}} disabled/>
            {{else}}
            <input name="txt" class="variables_fijas" value="-" disabled/>
            {{/if}}
        </span></p>
    </div>

<script>

    function redireccionar(){
        location.href="/detalle_presupuesto?presupuesto="+select_egreso.value+'&categoriaFiltro='+select_criterio.value+'&proveedorFiltro='+
            select_proveedor.value+'&fechaFiltro='+fecha_posta.value;
    }
</script>
</div>

<div id="includedContent"></div>
</body>
</html>