<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle egreso</title>
    <!--Import para el css de cargar_items-->
    <link rel="stylesheet" href="files/detalle/style.css">

    <!--Import para el boton-->
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>

    <!--Magia JavaScript-->
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Import para la sidebar-->
    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>
</head>
<body>
    <div id="titulo_cargar_items">
        <p><span>Detalle de egreso</span></p>
    </div>

    <div id="proveedor_seleccionado">
        <p><span>Filtre por entidad: </span></p>
    </div>

    <select name="proveedor" id="select_proveedor" class="selects_bonitos" type="text" onchange="reloadearPagina(this)" style="top 5%; width: 20%; text-align: center; position:absolute">
        {{#if entElegida includeZero=true}}
        <option value={{entElegida.entidad}} selected>{{entElegida.nombre}}</option>
        {{else}}
        <option value="-" >Seleccionar...</option>
        {{/if}}
        {{#each entidades}}
        <option value={{entidad}} >{{nombre}}</option>
        {{/each}}
    </select>

    <div id="fecha_seleccionada">
        <p><span>Filtre por fecha: </span></p>
    </div>

    <div id="fecha_posta_div_div" class="ax_default text_field">
        <div id="fecha_posta_div" class=""></div>
        <input name="fecha" id="fecha_posta" type="date" value="Fecha" onchange="reloadearPagina(this)" class="u854_input"/>
    </div>

    <div id="criterio_seleccionado">
        <p><span>Filtre por categoría/criterio: </span></p>
    </div>

    <select name="categoria" id="select_criterio" class="selects_bonitos" onchange="reloadearPagina(this)" type="text" style="top 5%; width: 20%; text-align: center; position:absolute">
        {{#if catElegido includeZero=true}}
        <option value={{catElegido.categoria}} >{{catElegido.nombreDeCategoria}}</option>
        {{else}}
        <option value="-" >Seleccionar...</option>
        {{/if}}
       {{#each categoria}}
        <option value={{categoria}} >{{nombreDeCategoria}}</option>
        {{/each}}
    </select>

    <div id="egreso_seleccionado">
        <p><span>Egreso: </span></p>
    </div>

    <select name="egreso" id="select_egreso" class="selects_bonitos" type="text" onchange="reloadearPagina(this)" style="top 5%; width: 20%; text-align: center; position:absolute">
        {{#if egresoPactado includeZero=true}}
        <option class="u300_input_option" value={{egresoPactado.egreso}}>{{egresoPactado.descripcion}}</option>
        {{else}}
        <option class="u300_input_option" value="seleccionEgreso">Seleccionar...</option>
        {{/if}}
        {{#each egreso}}
        <option class="u300_input_option" value={{egreso}}>{{descripcion}}</option>
        {{/each}}
    </select>

    <div id="detalle_posta">


        <div>
            {{#if fechaSelect includeZero=true}}
            <input id="fecha_detalle_posta" name="fecha" class="variables_fecha" value={{fechaSelect}} disabled/>
            {{else}}
            <input id="fecha_detalle" name="fecha" class="variables_fecha" value="-" disabled/>
            {{/if}}
        </div>

        <div>
            {{#if mp includeZero=true}}
            <p><span>Método de pago:
            <input name="mp" class="variables_fijas" value={{mp.tipo}} disabled/>
            </span></p>
            {{else}}
            <p><span>Método de pago:
                <input name="mp" class="variables_fijas" value="-" disabled/>
            </span></p>
            {{/if}}
        </div>

        <div id="tabla_dinamica_fila">
            <table width="100%" class="tablaCSS">
                <thead>
                <tr>
                    <th></th> <!--style="width:2.6%" -->
                    <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Nombre item</th> <!--style="width:24.6%"-->
                    <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Tipo</th>
                    <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Cantidad</th>
                    <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px; width:24.6%;">Precio de unitario</th>
                </tr>
                </thead>
            </table>
        </div>

        <table id="dataTable" class="tablaCSS" width="100%" border="1" position="absolute">
            {{#each items}}
            <tr id="trTable">
                <td><input type="checkbox" name="chk" style="align: center;"/></td>
                <td><input class="variables" type="text" name="txt" value="{{descripcion}}" style="width: 100%; text-align: center;"/></td>
                <td id="tipoProducto"><input id="tipoProductoInput" class="variables" type="text" value={{tipo}}  name="txt" style="width: 100%; text-align: center;" disabled /></td>
                <td id="celdaCantidad"><input id="celdaCantidadInput" class="variables" type="text" value={{cantidad}}  name="txt" style="width: 100%; text-align: center;" disabled /></td>
                <td id="celdaPrecioUnitario"><input type="text" class="variables" name="txt" value={{valor}} style="width: 100%; text-align: center;" disabled /></td>
            </tr>
            {{/each}}
        </table>

        <div>
            <p><span>Ingreso asociado:
                {{#if ing includeZero=true}}
                <input name="ing" class="variables_fijas" value={{ing.descripcion}} disabled/>
                {{else}}
                <input name="ing" class="variables_fijas" value="-" disabled/>
                {{/if}}

            </span></p>
        </div>

        <div>
            <p><span>Criterios/catg asociados:
                {{#each cat}}
            <input name="cat" class="variables_fijas" value={{nombreDeCategoria}} disabled/>
                {{/each}}
            </span></p>
        </div>

        <div>
            <p><span>Presupuesto elegido:
                {{#if presele includeZero=true}}
                <input name="presele" class="variables_fijas" value={{valor}} disabled/>
                {{else}}
                <input name="presele" class="variables_fijas" value="-" disabled/>
                {{/if}}
            </span></p>
        </div>

        <div>
            <p><span>Presupuestos asociados:
                {{#each presasc}}
            <input name="presasc" class="variables_fijas" value={{valor}} disabled/>
                {{/each}}
            </span></p>
            <a id="archivito" href={{egreso.imagen}} target="_blank" download>Descargar el documento comercial</a>
        </div>

    </div>

    <div id="includedContent"></div>

<script>
                function reloadearPagina(v) {

                    location.href = '/detalle_egreso?eg=' +select_egreso.value + '&catElegido='+ select_criterio.value+'&entElegida='+select_proveedor.value +'&fechaElegida='+fecha_posta.value;
            }
</script>
</body>
</html>