<!DOCTYPE html>
<html>
  <head>
    <title>Mensajes No Revisor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/mensajes_no_revisor/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/mensajes_no_revisor/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u1911" class="ax_default box_1">
        <img id="u1911_img" class="img " src="images/asociar_ingresos_y_egresos/u844.svg"/>
        <div id="u1911_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1912" class="ax_default" data-left="45" data-top="2" data-width="249" data-height="68">

        <!-- Unnamed (Rectangle) -->
        <div id="u1913" class="ax_default heading_1">
          <div id="u1913_div" class=""></div>
          <div id="u1913_text" class="text ">
            <p style="font-size:35px;"><span style="font-family:'Calibri Bold Italic', 'Calibri Regular', 'Calibri', sans-serif;font-style:italic;color:#D9463B;">GeSoc</span></p><p style="font-size:15px;"><span style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;font-style:normal;color:#000000;">Gestión de Proyectos Sociales</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u1914" class="ax_default image">
          <img id="u1914_img" class="img " src="images/usuario/u181.png"/>
          <div id="u1914_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1915" class="ax_default heading_1">
        <div id="u1915_div" class=""></div>
        <div id="u1915_text" class="text ">
          <p><span>Mensajes</span></p>
        </div>
      </div>

      <!-- Popup & Launcher (Group) -->
      <div id="u1916" class="ax_default ax_default_hidden" data-label="Popup &amp; Launcher" style="display:none; visibility: hidden" data-left="499" data-top="201" data-width="429" data-height="245">

        <!-- Popup (Dynamic Panel) -->
        <div id="u1917" class="ax_default" data-label="Popup">
          <div id="u1917_state0" class="panel_state" data-label="State1" style="">
            <div id="u1917_state0_content" class="panel_state_content">

              <!-- Popup Background (Rectangle) -->
              <div id="u1918" class="ax_default box_1" data-label="Popup Background">
                <div id="u1918_div" class=""></div>
                <div id="u1918_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Bottom Divider Line (Line) -->
              <div id="u1919" class="ax_default line" data-label="Bottom Divider Line">
                <img id="u1919_img" class="img " src="images/mensajes_no_revisor/bottom_divider_line_u1919.svg"/>
                <div id="u1919_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Top Divider Line (Line) -->
              <div id="u1920" class="ax_default line" data-label="Top Divider Line">
                <img id="u1920_img" class="img " src="images/mensajes_no_revisor/bottom_divider_line_u1919.svg"/>
                <div id="u1920_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Summary Text (Rectangle) -->
              <div id="u1921" class="ax_default heading_3" data-label="Summary Text">
                <div id="u1921_div" class=""></div>
                <div id="u1921_text" class="text ">
                  <p><span style="font-family:'Calibri', sans-serif;font-weight:400;">Para poder visualizar los Mensajes debe </span><span style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;font-weight:700;">darse de <br>alta como Revisor de un Egreso</span><span style="font-family:'Calibri', sans-serif;font-weight:400;">.</span></p>
                </div>
              </div>

              <!-- Popup Title (Rectangle) -->
              <div id="u1922" class="ax_default heading_2" data-label="Popup Title">
                <div id="u1922_div" class=""></div>
                <div id="u1922_text" class="text ">
                  <p><span>No es Revisor de ningún Egreso</span></p>
                </div>
              </div>

              <!-- Thumbnail Image (Image) -->
              <div id="u1923" class="ax_default image" data-label="Thumbnail Image">
                <img id="u1923_img" class="img " src="images/mensajes_no_revisor/thumbnail_image_u1923.png"/>
                <div id="u1923_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1924" class="ax_default primary_button">
                <div id="u1924_div" class=""></div>
                <div id="u1924_text" class="text ">
                  <p><span>Solicitar Alta de Revisor</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1926" class="ax_default box_1">
        <div id="u1926_div" class=""></div>
        <div id="u1926_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Tabs (Group) -->
      <div id="u1927" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u1928" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle) -->
          <div id="u1929" class="ax_default heading_1">
            <div id="u1929_div" class=""></div>
            <div id="u1929_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u1930" class="ax_default box_1">
            <img id="u1930_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u1930_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u1931" class="ax_default image">
            <img id="u1931_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u1931_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1932" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1932_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u1932_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1933" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1933_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u1933_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u1934" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u1935" class="ax_default box_3" data-label="Inicio" selectiongroup="u1925Tabs">
          <div id="u1935_div" class=""></div>
          <div id="u1935_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1936" class="ax_default icon">
        <img id="u1936_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u1936_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1937" class="ax_default icon">
        <img id="u1937_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u1937_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1938" class="ax_default icon">
        <img id="u1938_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u1938_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Criterios de Categorización (Group) -->
      <div id="u1939" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1940" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1940_state0" class="panel_state" data-label="State1" style="">
            <div id="u1940_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1941" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1941_div" class=""></div>
                <div id="u1941_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1942" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1942_div" class=""></div>
                <div id="u1942_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1943" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1943_div" class=""></div>
                <div id="u1943_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1944" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1944_div" class=""></div>
          <div id="u1944_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u1945" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1946" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1946_state0" class="panel_state" data-label="State1" style="">
            <div id="u1946_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1947" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1947_div" class=""></div>
                <div id="u1947_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1948" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1948_div" class=""></div>
                <div id="u1948_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1949" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1949_div" class=""></div>
          <div id="u1949_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u1950" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1951" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1951_state0" class="panel_state" data-label="State1" style="">
            <div id="u1951_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1952" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1952_div" class=""></div>
                <div id="u1952_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1953" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1953_div" class=""></div>
                <div id="u1953_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1954" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1954_div" class=""></div>
          <div id="u1954_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u1955" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1956" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1956_state0" class="panel_state" data-label="State1" style="">
            <div id="u1956_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1957" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1957_div" class=""></div>
                <div id="u1957_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1958" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1958_div" class=""></div>
          <div id="u1958_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u1959" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1960" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1960_div" class=""></div>
          <div id="u1960_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1961" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1961_state0" class="panel_state" data-label="State1" style="">
            <div id="u1961_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1962" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1962_div" class=""></div>
                <div id="u1962_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u1963" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1964" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1964_div" class=""></div>
          <div id="u1964_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u1965" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1966" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1966_state0" class="panel_state" data-label="State1" style="">
            <div id="u1966_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1967" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1967_div" class=""></div>
                <div id="u1967_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1968" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1968_div" class=""></div>
          <div id="u1968_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u1969" class="ax_default" data-label="Menu">
        <div id="u1969_state0" class="panel_state" data-label="State1" style="">
          <div id="u1969_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u1970" class="ax_default icon">
              <img id="u1970_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1970_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
        <div id="u1969_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u1969_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u1971" class="ax_default icon">
              <img id="u1971_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1971_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u1972" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1973" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1973_div" class=""></div>
          <div id="u1973_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1974" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1974_state0" class="panel_state" data-label="State1" style="">
            <div id="u1974_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1975" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1975_div" class=""></div>
                <div id="u1975_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u1976" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1977" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1977_state0" class="panel_state" data-label="State1" style="">
            <div id="u1977_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1978" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
                <div id="u1978_div" class=""></div>
                <div id="u1978_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1979" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1925Tabs">
          <div id="u1979_div" class=""></div>
          <div id="u1979_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1980" class="ax_default icon">
        <img id="u1980_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u1980_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u1925" style="display:none; visibility:hidden;"></div>

      <!-- RUTA MENSAJES (Group) -->
      <div id="u1981" class="ax_default ax_default_hidden" data-label="RUTA MENSAJES" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1982" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u1982_div" class=""></div>
          <div id="u1982_text" class="text ">
            <p><span>&gt;&gt; MENSAJES</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
