<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intento de sidebar</title>
    <link rel="stylesheet" href="files/sidebar/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <style>
        .img-fluid {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
    </style>

</head>
<body>
    <nav class="horizontalbar">
        <a class="navbar-brand">
            <div class="logo-image">
                <a href="/pantalla_principal_usuario"><img src="images/sidebar/GeSocLogo.png" class="img-fluid"></a>
            </div>
            <!--<div class="indice">
                <span id="mi-span">
                    >>
                </span>
            </div>-->
            <div class="logo-configuracion">
                <a href="/configuracion_general">
                    <img src="images/sidebar/botonConfiguracion.svg" class="img-fluid" onmouseover="configuracionhover(this);" onmouseout="configuracionunhover(this);">
                </a>
            </div>
            <div class="logo-sobre">
                <a href="/mensajes">
                    <img src="images/sidebar/botonBandejaMensajes.svg" class="img-fluid" onmouseover="mensajehover(this);" onmouseout="mensajeunhover(this);">
                </a>
            </div>
            <div class="logo-usuario">
                <a href="/usuario">
                    <img src="images/sidebar/botonPerfil.svg" class="img-fluid" onmouseover="usuariohover(this);" onmouseout="usuariounhover(this);">
                </a>
            </div>
            <form action="/cerrarSesion" method="post">
                <button name="botonSesion" type="submit">
                    <div class="logo-cerrar-sesion">
                        <img src="images/sidebar/botonCerrarSesion.svg" class="img-fluid" onmouseover="cerrarsesionhover(this);" onmouseout="cerrarsesionunhover(this);">
                    </div>
                </button>
            </form>
        </a>
    </nav>


    <nav class="sidebar">

        <div class="nav__overlay"></div>

        <ul>
            <li>
                <a href="#" class="boton-entidades">ENTIDADES
                    <span class="fas fa-caret-down first"></span>
                </a>
                <ul class="mostrar-opciones-entidades">
                    <li><a href="/cargar_entidad">CARGAR ENTIDAD</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-egresos">EGRESOS
                    <span class="fas fa-caret-down second"></span>
                </a>
                <ul class="mostrar-opciones-egresos">
                    <li><a href="/cargar_egreso">CARGAR EGRESO</a></li>
                    <li><a href="/asociar_egresos_y_presupuestos">ASOCIAR EGRESOS Y PRESUPUESTOS</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-ingresos">INGRESOS
                    <span class="fas fa-caret-down third"></span>
                </a>
                <ul class="mostrar-opciones-ingresos">
                    <li><a href="/cargar_ingreso">CARGAR INGRESO</a></li>
                    <li><a href="/asociar_ingresos_y_egresos">ASOCIAR INGRESOS A EGRESOS</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-proveedores">PROVEEDORES
                    <span class="fas fa-caret-down fourth"></span>
                </a>
                <ul class="mostrar-opciones-proveedores">
                    <li><a href="/cargar_proveedor">CARGAR PROVEEDOR</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-presupuestos">PRESUPUESTOS
                    <span class="fas fa-caret-down fifth"></span>
                </a>
                <ul class="mostrar-opciones-presupuestos">
                    <li><a href="/cargar_presupuesto">CARGAR PRESUPUESTO</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-criterios-categorizacion">CRITERIOS DE CATEGORIZACIÓN
                    <span class="fas fa-caret-down sixth"></span>
                </a>
                <ul class="mostrar-opciones-criterios-categorizacion">
                    <li><a href="/crear_criterio">CREAR CRITERIO</a></li>
                    <li><a href="/crear_categoria">CREAR CATEGORIA</a></li>
                    <li><a href="/ver_ingresos_y_egresos">VER INGRESOS Y EGRESOS</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-proyectos">PROYECTOS
                    <span class="fas fa-caret-down seventh"></span>
                </a>
                <ul class="mostrar-opciones-proyectos">
                    <li><a href="/crear_proyecto_de_financiamiento">CREAR PROYECTO DE FINANCIAMIENTO</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-auditoria">VALIDACIÓN
                    <span class="fas fa-caret-down eighth"></span>
                </a>
                <ul class="mostrar-opciones-auditoria">
                    <li><a href="/validar_egresos">VALIDAR EGRESO</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="boton-usuarios">USUARIOS
                    <span class="fas fa-caret-down nineth"></span>
                </a>
                <ul class="mostrar-opciones-usuarios">
                    <li><a href="/administrar_usuarios">ADMINISTRAR USUARIOS</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="botoncito">
        <span class="fas fa-bars"></span>
    </div>

    <script>

    var boolEntidades = 0;
    var boolEgresos = 0;
    var boolIngresos = 0;
    var boolProveedores = 0;
    var boolPresupuestos = 0;
    var boolCriteriosCat = 0;
    var boolProyectos = 0;
    var boolAuditoria= 0;
    var boolUsuarios= 0;

    $('.botoncito').click(function(){
       if(boolEntidades==2){
           $('nav ul .mostrar-opciones-entidades').toggleClass("show");
           $('nav ul .first').toggleClass("rotate");
       }
       if(boolEgresos==2){
           $('nav ul .mostrar-opciones-egresos').toggleClass("show1");
           $('nav ul .second').toggleClass("rotate");
       }
       if(boolIngresos==2){
           $('nav ul .mostrar-opciones-ingresos').toggleClass("show2");
           $('nav ul .third').toggleClass("rotate");
       }
       if(boolProveedores==2){
           $('nav ul .mostrar-opciones-proveedores').toggleClass("show3");
           $('nav ul .fourth').toggleClass("rotate");
       }
       if(boolPresupuestos==2){
           $('nav ul .mostrar-opciones-presupuestos').toggleClass("show4");
           $('nav ul .fifth').toggleClass("rotate");
       }
       if(boolCriteriosCat==2){
           $('nav ul .mostrar-opciones-criterios-categorizacion').toggleClass("show5");
           $('nav ul .sixth').toggleClass("rotate");
       }
       if(boolProyectos==2){
           $('nav ul .mostrar-opciones-proyectos').toggleClass("show6");
           $('nav ul .seventh').toggleClass("rotate");
       }
       if(boolAuditoria==2){
           $('nav ul .mostrar-opciones-auditoria').toggleClass("show7");
           $('nav ul .eighth').toggleClass("rotate");
       }
       if(boolUsuarios==2){
           $('nav ul .mostrar-opciones-usuarios').toggleClass("show8");
           $('nav ul .nineth').toggleClass("rotate");
       }
       $(this).toggleClass("click");
       $('.sidebar').toggleClass("show");
       boolEntidades=2;
       boolEgresos = 2;
       boolIngresos = 2;
       boolProveedores = 2;
       boolPresupuestos = 2;
       boolCriteriosCat = 2;
       boolProyectos = 2;
       boolAuditoria= 2;
       boolUsuarios= 2;
    });
        $('.boton-entidades').click(function(){
            boolEntidades = 1;
            $('nav ul .mostrar-opciones-entidades').toggleClass("show");
            $('nav ul .first').toggleClass("rotate");
        });
        $('.boton-egresos').click(function(){
            boolEgresos = 1;
            $('nav ul .mostrar-opciones-egresos').toggleClass("show1");
            $('nav ul .second').toggleClass("rotate");
        });
        $('.boton-ingresos').click(function(){
            boolIngresos = 1;
            $('nav ul .mostrar-opciones-ingresos').toggleClass("show2");
            $('nav ul .third').toggleClass("rotate");
        });
        $('.boton-proveedores').click(function(){
            boolProveedores = 1;
            $('nav ul .mostrar-opciones-proveedores').toggleClass("show3");
            $('nav ul .fourth').toggleClass("rotate");
        });
        $('.boton-presupuestos').click(function(){
            boolPresupuestos = 1;
            $('nav ul .mostrar-opciones-presupuestos').toggleClass("show4");
            $('nav ul .fifth').toggleClass("rotate");
        });
        $('.boton-criterios-categorizacion').click(function(){
            boolCriteriosCat = 1;
            $('nav ul .mostrar-opciones-criterios-categorizacion').toggleClass("show5");
            $('nav ul .sixth').toggleClass("rotate");
        });
        $('.boton-proyectos').click(function(){
            boolProyectos = 1;
            $('nav ul .mostrar-opciones-proyectos').toggleClass("show6");
            $('nav ul .seventh').toggleClass("rotate");
        });
        $('.boton-auditoria').click(function(){
            boolAuditoria = 1;
            $('nav ul .mostrar-opciones-auditoria').toggleClass("show7");
            $('nav ul .eighth').toggleClass("rotate");
        });
        $('.boton-usuarios').click(function(){
            boolUsuarios = 1;
            $('nav ul .mostrar-opciones-usuarios').toggleClass("show8");
            $('nav ul .nineth').toggleClass("rotate");
        });

        function configuracionhover(element){
            element.setAttribute('src', 'images/sidebar/botonConfiguracionMouseOver.svg');
        }

        function configuracionunhover(element){
            element.setAttribute('src', 'images/sidebar/botonConfiguracion.svg');
        }

        function mensajehover(element){
            element.setAttribute('src', 'images/sidebar/botonBandejaMensajesMouseOver.svg');
        }

        function mensajeunhover(element){
            element.setAttribute('src', 'images/sidebar/botonBandejaMensajes.svg');
        }

        function usuariohover(element){
            element.setAttribute('src', 'images/sidebar/botonPerfilMouseOver.svg');
        }

        function usuariounhover(element){
            element.setAttribute('src', 'images/sidebar/botonPerfil.svg');
        }

        function cerrarsesionhover(element){
            element.setAttribute('src', 'images/sidebar/botonCerrarSesionMouseOver.svg');
        }

        function cerrarsesionunhover(element){
            element.setAttribute('src', 'images/sidebar/botonCerrarSesion.svg');
        }

        $.post('.logo-cerrar-sesion',function(){
             $("div").html('/cerrarSesion');
        });

        $('#mi-span').text('>> someText');
    </script>

</body>
</html>