<!DOCTYPE html>
<html>
  <head>
    <title>Usuario</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/usuario/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <!--<script src="files/usuario/data.js"></script>-->
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script src="jquery.js"></script>

    <script>

    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>

  </head>
  <body>
    <div id="base" class="">
      <form id="formAEnviar" action="/cambiarContrasenia" method="post">

      <!-- Unnamed (Image) -->
      <div id="u178" class="ax_default image">
        <img id="u178_img" class="img " src="images/usuario/u178.png"/>
        <div id="u178_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>



      <!-- Unnamed (Group) -->
      <div id="u179" class="ax_default" data-left="45" data-top="2" data-width="249" data-height="68">

        <!-- Unnamed (Rectangle)
        <div id="u180" class="ax_default heading_1">
          <div id="u180_div" class=""></div>
          <div id="u180_text" class="text ">
            <p style="font-size:35px;"><span style="font-family:'Calibri Bold Italic', 'Calibri Regular', 'Calibri', sans-serif;font-style:italic;color:#D9463B;">GeSoc</span></p><p style="font-size:15px;"><span style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;font-style:normal;color:#000000;">Gestión de Proyectos Sociales</span></p>
          </div>
        </div> -->

        <!-- Unnamed (Image)
        <div id="u181" class="ax_default image">
          <img id="u181_img" class="img " src="images/usuario/u181.png"/>
          <div id="u181_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div> -->
      </div>

      <!-- Unnamed (Group) -->
      <div id="u182" class="ax_default" data-left="46" data-top="200" data-width="339" data-height="298">

        <!-- Unnamed (Group) -->
        <div id="u183" class="ax_default" data-left="46" data-top="200" data-width="338" data-height="298">

          <!-- Unnamed (Group) -->
          <div id="u184" class="ax_default" data-left="46" data-top="200" data-width="338" data-height="249">

            <!-- Unnamed (Rectangle) -->
            <div id="nombre_usuario">
                <p><span>{{nickname}}</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u186" class="ax_default heading_1">
              <div id="u186_div" class=""></div>
              <div id="u186_text" class="text ">
                <p><span>E-mail:</span></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u187" class="ax_default line">
              <img id="u187_img" class="img " src="images/usuario/u187.svg"/>
              <div id="u187_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u188" class="ax_default heading_1">
              <div id="u188_div" class=""></div>
              <div id="u188_text" class="text ">
                <p><span>Datos Personales</span></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u189" class="ax_default line">
              <img id="u189_img" class="img " src="images/usuario/u187.svg"/>
              <div id="u189_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>



            <!-- Unnamed (Shape) -->
            <div id="u191" class="ax_default icon">
              <img id="u191_img" class="img " src="images/usuario/u191.svg"/>
              <div id="u191_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u192" class="ax_default heading_1">
              <div id="u192_div" class=""></div>
              <div id="u192_text" class="text " placeholder={{nombre}}>
                <p><span>Nombre:</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u193" class="ax_default heading_1">
              <div id="u193_div" class=""></div>
              <div id="u193_text" class="text ">
                <p><span>Apellido:</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u194" class="ax_default primary_button">
            <div id="u194_div" class=""></div>
            <div id="u194_text" class="text ">
              <p><span onclick="showw()">Cambiar contraseña</span></p>
            </div>
          </div>

          <!--<div id="u1944" class="ax_default primary_button">
            <div id="u1944_div" class=""></div>
            <div id="u1944_text" class="text ">
              <p><span>Cambiar datos</span></p>
            </div>
          </div>
        </div>-->

        <!-- TipoUsuario (Droplist) -->

        <!-- Username Input (Text Field) -->
        <div id="u196" class="ax_default text_field" data-label="Username Input">
          <div id="u196_div" class=""></div>
          <input id="u196_input" type="text" value="" class="u196_input" placeholder={{nombre}} disabled/>
        </div>

        <!-- Username Input (Text Field) -->
        <div id="u197" class="ax_default text_field" data-label="Username Input">
          <div id="u197_div" class=""></div>
          <input id="u197_input" type="text" value="" class="u197_input" placeholder={{apellido}} disabled/>
        </div>

        <!-- Username Input (Text Field) -->
        <div id="u198" class="ax_default text_field" data-label="Username Input">
          <div id="u198_div" class=""></div>
          <input id="u198_input" type="text" value="" class="u198_input" placeholder={{email}} disabled/>
        </div>
      </div>

        <div id="blurBackground" style="position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 90%;
        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        visibility: hidden;
        opacity: 0;"></div>

      <!-- Popup (Dynamic Panel) -->
      <div id="u199" class="ax_default ax_default_hidden" data-label="Popup" style="display:none; visibility: hidden">
        <div id="u199_state0" class="panel_state" data-label="State1" style="">
          <div id="u199_state0_content" class="panel_state_content">

            <!-- Popup Background (Rectangle) -->
            <div id="u200" class="ax_default box_1" data-label="Popup Background">
              <div id="u200_div" class=""></div>
              <div id="u200_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <div id="u20111" class="ax_default primary_button">
              <div id="u20111_div" class=""></div>
              <div id="u20111_text" class="text ">
                <p>
                  <button id="u201122_div" onclick="submit">
                    <span>Confirmar</span>
                  </button>
                </p>
              </div>
            </div>

            <input id="mensajePassword" name="mensajePassword" value="{{mensaje}}" onclick="chequearContra()" style="display:none; visibility: hidden;">

            <div id="u2011" class="ax_default primary_button">
              <div id="u2011_div" class=""></div>
              <div id="u2011_text" class="text ">
                <p>
                  <button id="u20112_div" onclick="hide()">
                    <span>Cancelar</span>
                  </button>
                </p>
              </div>
            </div>

            <!-- Bottom Divider Line (Line) -->
            <div id="u202" class="ax_default line" data-label="Bottom Divider Line">
              <img id="u202_img" class="img " src="images/usuario/bottom_divider_line_u202.svg"/>
              <div id="u202_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Top Divider Line (Line) -->
            <div id="u203" class="ax_default line" data-label="Top Divider Line">
              <img id="u203_img" class="img " src="images/usuario/bottom_divider_line_u202.svg"/>
              <div id="u203_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Popup Title (Rectangle) -->
            <div id="u204" class="ax_default heading_2" data-label="Popup Title">
              <div id="u204_div" class=""></div>
              <div id="u204_text" class="text ">
                <p><span>Cambio de contraseña</span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u205" class="ax_default image">
              <img id="u205_img" class="img " src="images/usuario/u205.png"/>
              <div id="u205_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- ContraseñaActual (Text Field) -->
            <div id="u206" class="ax_default text_field" data-label="ContraseñaActual">
              <div id="u206_div" class=""></div>
              <input name="contraActual" id="u206_input" type="password" value="" class="u206_input" required/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u207" class="ax_default box_1">
              <img id="u207_img" class="img " src="images/usuario/u207.svg"/>
              <div id="u207_text" class="text ">
                <p><span>Contraseña actual:</span></p>
              </div>
            </div>

            <!-- ContraseñaNueva (Text Field) -->
            <div id="u208" class="ax_default text_field" data-label="ContraseñaNueva">
              <div id="u208_div" class=""></div>
              <input name="contraNueva" id="u208_input" type="password" value="" class="u208_input" required/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u209" class="ax_default box_1">
              <img id="u209_img" class="img " src="images/usuario/u207.svg"/>
              <div id="u209_text" class="text ">
                <p><span>Contraseña nueva:</span></p>
              </div>
            </div>

            <!-- VerificarContraseñaNueva (Text Field) -->
            <div id="u210" class="ax_default text_field" data-label="VerificarContraseñaNueva">
              <div id="u210_div" class=""></div>
              <input name="verifContraNueva" id="u210_input" type="password" value="" class="u210_input" required/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u211" class="ax_default box_1">
              <img id="u211_img" class="img " src="images/usuario/u211.svg"/>
              <div id="u211_text" class="text ">
                <p><span>Verificar contraseña nueva: </span></p>
              </div>
            </div>

            <!-- PopupContraseñasIguales (Group) -->
            <div id="u212" class="ax_default ax_default_hidden" data-label="PopupContraseñasIguales" style="display:none; visibility: hidden" data-left="46" data-top="262" data-width="250" data-height="30">

              <!-- ContraseñasIguales (Group) -->
              <div id="u213" class="ax_default" data-label="ContraseñasIguales" data-left="46" data-top="262" data-width="250" data-height="30">

                <!-- Value State (Rectangle) -->
                <div id="u214" class="ax_default" data-label="Value State">
                  <div id="u214_div" class=""></div>
                  <div id="u214_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Value State Text (Rectangle) -->
                <div id="u215" class="ax_default" data-label="Value State Text">
                  <div id="u215_div" class=""></div>
                  <div id="u215_text" class="text ">
                    <p><span>La contraseña nueva es igual a la actual.</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- PopupFallaVerificaciónContraseña (Group) -->
            <div id="u216" class="ax_default ax_default_hidden" data-label="PopupFallaVerificaciónContraseña" style="display:none; visibility: hidden" data-left="75" data-top="262" data-width="193" data-height="30">

              <!-- FallaVerificaciónContraseña (Group) -->
              <div id="u217" class="ax_default" data-label="FallaVerificaciónContraseña" data-left="75" data-top="262" data-width="193" data-height="30">

                <!-- Value State (Rectangle) -->
                <div id="u218" class="ax_default" data-label="Value State">
                  <div id="u218_div" class=""></div>
                  <div id="u218_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Value State Text (Rectangle) -->
                <div id="u219" class="ax_default" data-label="Value State Text">
                  <div id="u219_div" class=""></div>
                  <div id="u219_text" class="text ">
                    <p><span>Las contraseñas NO coinciden.</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u220" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="503" data-top="228" data-width="330" data-height="205">

        <!-- Popup Background (Rectangle) -->
        <div id="u221" class="ax_default box_1" data-label="Popup Background">
          <div id="u221_div" class=""></div>
          <div id="u221_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <button id="u222" class="ax_default primary_button">
          <img id="u222_img" class="img " src="images/usuario/u201.svg"/>
          <div id="u222_text" class="text ">
            <p><span>Aceptar</span></p>
          </div>
        </button>

        <!-- Top Divider Line (Line) -->
        <div id="u223" class="ax_default line" data-label="Top Divider Line">
          <img id="u223_img" class="img " src="images/usuario/top_divider_line_u223.svg"/>
          <div id="u223_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Summary Text (Rectangle) -->
        <div id="u224" class="ax_default heading_3" data-label="Summary Text">
          <div id="u224_div" class=""></div>
          <div id="u224_text" class="text ">
            <p><span>El cambio de contraseña se registró correctamente en el sistema.</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u225" class="ax_default image">
          <img id="u225_img" class="img " src="images/usuario/u225.png"/>
          <div id="u225_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Popup Title (Rectangle) -->
        <div id="u226" class="ax_default heading_2" data-label="Popup Title">
          <div id="u226_div" class=""></div>
          <div id="u226_text" class="text ">
            <p><span>Contraseña modificada</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle)
      <div id="u228" class="ax_default box_1">
        <div id="u228_div" class=""></div>
        <div id="u228_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Tabs (Group) -->
      <div id="u229" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u230" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle)
          <div id="u231" class="ax_default heading_1">
            <div id="u231_div" class=""></div>
            <div id="u231_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Rectangle)
          <div id="u232" class="ax_default box_1">
            <img id="u232_img" class="img " src="images/pantalla_principal_usuario/u127.svg"/>
            <div id="u232_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div> -->

          <!-- Unnamed (Image)
          <div id="u233" class="ax_default image">
            <img id="u233_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u233_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u234" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u234_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u234_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u235" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u235_img" class="img " src="images/pantalla_principal_usuario/u130.svg"/>
        <div id="u235_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u236" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u237" class="ax_default box_3" data-label="Inicio" selectiongroup="u227Tabs">
          <div id="u237_div" class=""></div>
          <div id="u237_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape)
      <div id="u238" class="ax_default icon">
        <img id="u238_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u238_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u239" class="ax_default icon">
        <img id="u239_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u239_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Unnamed (Shape)
      <div id="u240" class="ax_default icon">
        <img id="u240_img" class="img " src="images/pantalla_principal_usuario/u135.svg"/>
        <div id="u240_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->

      <!-- Criterios de Categorización (Group) -->
      <div id="u241" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u242" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u242_state0" class="panel_state" data-label="State1" style="">
            <div id="u242_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u243" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u243_div" class=""></div>
                <div id="u243_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u244" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u244_div" class=""></div>
                <div id="u244_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u245" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u245_div" class=""></div>
                <div id="u245_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u246" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u246_div" class=""></div>
          <div id="u246_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u247" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u248" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u248_state0" class="panel_state" data-label="State1" style="">
            <div id="u248_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u249" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u249_div" class=""></div>
                <div id="u249_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u250" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u250_div" class=""></div>
                <div id="u250_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u251" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u251_div" class=""></div>
          <div id="u251_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u252" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u253" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u253_state0" class="panel_state" data-label="State1" style="">
            <div id="u253_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u254" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u254_div" class=""></div>
                <div id="u254_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u255" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u255_div" class=""></div>
                <div id="u255_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u256" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u256_div" class=""></div>
          <div id="u256_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u257" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u258" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u258_state0" class="panel_state" data-label="State1" style="">
            <div id="u258_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u259" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u259_div" class=""></div>
                <div id="u259_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u260" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u260_div" class=""></div>
          <div id="u260_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u261" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u262" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u262_div" class=""></div>
          <div id="u262_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u263" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u263_state0" class="panel_state" data-label="State1" style="">
            <div id="u263_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u264" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u264_div" class=""></div>
                <div id="u264_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u265" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="310" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u266" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u266_div" class=""></div>
          <div id="u266_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u267" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u268" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u268_state0" class="panel_state" data-label="State1" style="">
            <div id="u268_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u269" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u269_div" class=""></div>
                <div id="u269_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u270" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u270_div" class=""></div>
          <div id="u270_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u271" class="ax_default" data-label="Menu">
        <div id="u271_state0" class="panel_state" data-label="State1" style="">
          <div id="u271_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u272" class="ax_default icon">
              <img id="u272_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u272_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
        <div id="u271_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u271_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape)
            <div id="u273" class="ax_default icon">
              <img id="u273_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u273_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u274" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u275" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u275_div" class=""></div>
          <div id="u275_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u276" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u276_state0" class="panel_state" data-label="State1" style="">
            <div id="u276_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u277" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u277_div" class=""></div>
                <div id="u277_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u278" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u279" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u279_state0" class="panel_state" data-label="State1" style="">
            <div id="u279_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u280" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
                <div id="u280_div" class=""></div>
                <div id="u280_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u281" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u227Tabs">
          <div id="u281_div" class=""></div>
          <div id="u281_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>
        <!--<button id="lal" onclick="showw()">TOCAR BOTON</button>-->

      <!-- Unnamed (Shape)
      <div id="u282" class="ax_default icon">
        <img id="u282_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u282_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div> -->
      <div id="u227" style="display:none; visibility:hidden;"></div>

      <!-- RUTA USUARIO (Group) -->
      <div id="u283" class="ax_default ax_default_hidden" data-label="RUTA USUARIO" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="346" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u284" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u284_div" class=""></div>
          <div id="u284_text" class="text ">
            <p><span>&gt;&gt; USUARIO</span></p>
          </div>
        </div>
      </div>
        <div id="includedContent"></div>
    </div>
    <script>
      function hide() {
        document.getElementById("blurBackground").style.opacity = 0;
        document.getElementById("blurBackground").style.display = 'none';
        document.getElementById("blurBackground").style.visibility = "hidden";

        document.getElementById('u199').style.display = 'none';
        document.getElementById('u199_lightbox').style.display = 'none';

        location.href="/usuario";
      }

      function showw() {
        document.getElementById("blurBackground").style.visibility = "visible";
        document.getElementById("blurBackground").style.display = 'block';
        document.getElementById("blurBackground").style.opacity = 1;

        document.getElementById("u199").style.display = "block";
        document.getElementById("u199").style.visibility = "visible";
      }

      function chequearContra() {

         mensaje = document.getElementById('mensajePassword');

        if (mensaje.value === '') {
          //no llego nada
        } else {
          switch(mensaje.value){
          case "0":
            alert('Ocurrió un error interno vuelva a intentar.');
            showw();
          break;
          case "1":
            alert('La contraseña no posee un número. Vuelva a intentarlo');
            showw();
          break;
          case "2":
            alert('La contraseña debe tener como mínimo una longitud de 8 caracteres. Vuelva a intentarlo');
            showw();
          break;
          case "3":
            alert('La contraseña no posee un caracter especial. Vuelva a intentarlo');
            showw();
          break;
          case "4":
            alert('La contraseña ingresada es muy común. Vuelva a intentarlo');
            showw();
          break;
          case "5":
            alert('La contraseña fue cambiada de forma exitosa.');
          break;
          }
        }

        //alert("Entré a la función");
      }


      $(document).ready(
              (chequearContra())
      );

    </script>
  </body>
</html>
