<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Validación de Egresos</title>

    <!--Import para el css de cargar_items-->
    <link rel="stylesheet" href="files/validacion_egreso/style.css">

    <!--Import para el boton-->
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>

    <!--Magia JavaScript-->
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Import para la sidebar-->
    <script>
    $(function(){
      $("#includedContent").load("sidebar.html");
    });
    </script>
</head>
<body>
<form action="/validarEgreso" method="post">
    <div id="base" class="">

        <div id="titulo_cargar_items">
            <p><span>Validación de Egresos</span></p>
        </div>

        <div id="proveedor_seleccionado">
            <p><span>Estrategia de validación: </span></p>
            <!--<input type="datosTraidos" name="txt" class="variables_fijas" value="  ProveedorX" disabled/>-->

        </div>

        <div id="select_estrategias">
            <select id="estrategia" name="estrategia" class="select_bonito" onchange="disableCheckBox(this)">
                <option value="Seleccione">Seleccione una estrategia</option>
                <option value="Manual">Manual</option>
                <option value="Automática">Automática</option>
            </select>
        </div>

        <div id="fecha">
            <p><span>Hora: </span></p>
            <!--<input type="datosTraidos" name="txt" class="variables_fijas" value="  ACA VA LA VARIABLE" disabled/>-->
        </div>

        <div id="select_horas">
            <select id="horas" name="hora" disabled class="select_bonito">
                <option>Seleccione una hora</option>
                <option>00:00hs</option>
                <option>01:00hs</option>
                <option>02:00hs</option>
                <option>03:00hs</option>
                <option>04:00hs</option>
                <option>05:00hs</option>
                <option>06:00hs</option>
                <option>07:00hs</option>
                <option>08:00hs</option>
                <option>09:00hs</option>
                <option>10:00hs</option>
                <option>11:00hs</option>
                <option>12:00hs</option>
                <option>13:00hs</option>
                <option>14:00hs</option>
                <option>15:00hs</option>
                <option>16:00hs</option>
                <option>17:00hs</option>
                <option>18:00hs</option>
                <option>19:00hs</option>
                <option>20:00hs</option>
                <option>21:00hs</option>
                <option>22:00hs</option>
                <option>23:00hs</option>
            </select>
        </div>

        <div id="metodo_de_pago">
            <p><span>Minuto: </span></p>
            <!--<input type="datosTraidos" name="txt" class="variables_fijas" value="  ACA VA LA VARIABLE" disabled/>-->
        </div>

        <div id="select_minutos">
            <select id="minutos" name="minutos" disabled class="select_bonito">
                <option>Seleccione un minuto</option>
                <option>5min</option>
                <option>10min</option>
                <option>15min</option>
                <option>20min</option>
                <option>25min</option>
                <option>30min</option>
                <option>35min</option>
                <option>40min</option>
                <option>45min</option>
                <option>50min</option>
                <option>55min</option>
                <option>60min</option>
            </select>
        </div>

        <div id="cargar_items">
            <input type="button" class="boton_cargar_items" value="Iniciar Validación" onclick="submit" />
        </div>

        <div id="u539" class="ax_default">
            <div id="u539_state0" class="panel_state" data-label="State1" style="">
                <div id="u539_state0_content" class="panel_state_content" style="width:100%;">
                    <table class="tablaCSS" style="width:100%;">
                        <thead>
                        <tr>
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Organizacion</th>
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Fecha</th>
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Método de pago</th>
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Documento comercial</th>
                            <th style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif; font-weight:300; font-style:normal; font-size:14px;">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each egreso}}
                        <tr>
                            <td>{{entidad.nombre}}</td>
                            <td>{{fecha}}</td>
                            <td>{{metodoDePago.tipo}}</td>
                            <td>{{documentoComercial.tipo}}</td>
                            <td>{{valor.importe}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="includedContent"></div>

    </div>
    <script>
        function disableCheckBox(v) {
            if (v.value == 'Automática'){
                horas.disabled = false;
                minutos.disabled = false;
            }else{
                horas.disabled = true;
                minutos.disabled = true;
            }
        }
    </script>
</form>
</body>
</html>