<!DOCTYPE html>
<html>
  <head>
    <title>Ver Ingresos y Egresos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/ver_ingresos_y_egresos/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/ver_ingresos_y_egresos/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Egresos (Droplist) -->
      <div id="u1460" class="ax_default droplist" data-label="Egresos">
        <div id="u1460_div" class=""></div>
        <select id="u1460_input" class="u1460_input">
          <option class="u1460_input_option" value="Seleccione un Criterio">Seleccione un Criterio</option>
          <option class="u1460_input_option" value="Criterio 1">Criterio 1</option>
          <option class="u1460_input_option" value="Criterio 2">Criterio 2</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1461" class="ax_default heading_1">
        <div id="u1461_div" class=""></div>
        <div id="u1461_text" class="text ">
          <p><span>Criterio:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1462" class="ax_default box_1">
        <img id="u1462_img" class="img " src="images/asociar_ingresos_y_egresos/u849.svg"/>
        <div id="u1462_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1463" class="ax_default" data-left="45" data-top="2" data-width="249" data-height="68">

        <!-- Unnamed (Rectangle) -->
        <div id="u1464" class="ax_default heading_1">
          <div id="u1464_div" class=""></div>
          <div id="u1464_text" class="text ">
            <p style="font-size:35px;"><span style="font-family:'Calibri Bold Italic', 'Calibri Regular', 'Calibri', sans-serif;font-style:italic;color:#D9463B;">GeSoc</span></p><p style="font-size:15px;"><span style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;font-style:normal;color:#000000;">Gestión de Proyectos Sociales</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u1465" class="ax_default image">
          <img id="u1465_img" class="img " src="images/usuario/u181.png"/>
          <div id="u1465_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1466" class="ax_default heading_1">
        <div id="u1466_div" class=""></div>
        <div id="u1466_text" class="text ">
          <p><span>Ingresos y Egresos</span></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u1467" class="ax_default">
        <div id="u1467_state0" class="panel_state" data-label="State1" style="">
          <div id="u1467_state0_content" class="panel_state_content">

            <!-- Unnamed (Repeater) -->
            <div id="u1468" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
              <script id="u1468_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1469" class="ax_default box_1 u1469" data-label="Fecha">
                  <div id="u1469_div" class="u1469_div"></div>
                  <div id="u1469_text" class="text u1469_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1468-1" class="preeval" style="width: 551px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1469-1" class="ax_default box_1 u1469" data-label="Fecha" style="width: 550px; height: 30px; left: 1px; top: 0px;visibility: inherit">
                  <div id="u1469-1_div" class="u1469_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1469-1_text" class="text u1469_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1468-2" class="preeval" style="width: 551px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1469-2" class="ax_default box_1 u1469" data-label="Fecha" style="width: 550px; height: 30px; left: 1px; top: 0px;visibility: inherit">
                  <div id="u1469-2_div" class="u1469_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1469-2_text" class="text u1469_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1468-3" class="preeval" style="width: 551px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1469-3" class="ax_default box_1 u1469" data-label="Fecha" style="width: 550px; height: 30px; left: 1px; top: 0px;visibility: inherit">
                  <div id="u1469-3_div" class="u1469_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1469-3_text" class="text u1469_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1470" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
              <script id="u1470_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1471" class="ax_default box_1 u1471" data-label="Fecha">
                  <div id="u1471_div" class="u1471_div"></div>
                  <div id="u1471_text" class="text u1471_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1470-1" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1471-1" class="ax_default box_1 u1471" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1471-1_div" class="u1471_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1471-1_text" class="text u1471_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1470-2" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1471-2" class="ax_default box_1 u1471" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1471-2_div" class="u1471_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1471-2_text" class="text u1471_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1470-3" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1471-3" class="ax_default box_1 u1471" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1471-3_div" class="u1471_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1471-3_text" class="text u1471_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1472" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
              <script id="u1472_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1473" class="ax_default box_1 u1473" data-label="Fecha">
                  <div id="u1473_div" class="u1473_div"></div>
                  <div id="u1473_text" class="text u1473_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1472-1" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1473-1" class="ax_default box_1 u1473" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1473-1_div" class="u1473_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1473-1_text" class="text u1473_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1472-2" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1473-2" class="ax_default box_1 u1473" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1473-2_div" class="u1473_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1473-2_text" class="text u1473_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
              <div id="u1472-3" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1473-3" class="ax_default box_1 u1473" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1473-3_div" class="u1473_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1473-3_text" class="text u1473_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u1467_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u1467_state1_content" class="panel_state_content">

            <!-- Unnamed (Repeater) -->
            <div id="u1474" class="ax_default">
              <script id="u1474_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1475" class="ax_default box_1 u1475" data-label="Fecha">
                  <div id="u1475_div" class="u1475_div"></div>
                  <div id="u1475_text" class="text u1475_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1474-1" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1475-1" class="ax_default box_1 u1475" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1475-1_div" class="u1475_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1475-1_text" class="text u1475_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1474-2" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1475-2" class="ax_default box_1 u1475" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1475-2_div" class="u1475_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1475-2_text" class="text u1475_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 2</span></p>
                  </div>
                </div>
              </div>
              <div id="u1474-3" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1475-3" class="ax_default box_1 u1475" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1475-3_div" class="u1475_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1475-3_text" class="text u1475_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 3</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1476" class="ax_default">
              <script id="u1476_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1477" class="ax_default box_1 u1477" data-label="Fecha">
                  <div id="u1477_div" class="u1477_div"></div>
                  <div id="u1477_text" class="text u1477_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1476-1" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1477-1" class="ax_default box_1 u1477" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1477-1_div" class="u1477_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1477-1_text" class="text u1477_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1476-2" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1477-2" class="ax_default box_1 u1477" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1477-2_div" class="u1477_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1477-2_text" class="text u1477_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 2</span></p>
                  </div>
                </div>
              </div>
              <div id="u1476-3" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1477-3" class="ax_default box_1 u1477" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1477-3_div" class="u1477_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1477-3_text" class="text u1477_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 3</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1478" class="ax_default">
              <script id="u1478_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1479" class="ax_default box_1 u1479" data-label="Fecha">
                  <div id="u1479_div" class="u1479_div"></div>
                  <div id="u1479_text" class="text u1479_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1478-1" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1479-1" class="ax_default box_1 u1479" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1479-1_div" class="u1479_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1479-1_text" class="text u1479_text" style="visibility: inherit">
                    <p><span>Entidad 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1478-2" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1479-2" class="ax_default box_1 u1479" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1479-2_div" class="u1479_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1479-2_text" class="text u1479_text" style="visibility: inherit">
                    <p><span>Entidad 2</span></p>
                  </div>
                </div>
              </div>
              <div id="u1478-3" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1479-3" class="ax_default box_1 u1479" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1479-3_div" class="u1479_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1479-3_text" class="text u1479_text" style="visibility: inherit">
                    <p><span>Entidad 1</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u1467_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
          <div id="u1467_state2_content" class="panel_state_content">

            <!-- Unnamed (Repeater) -->
            <div id="u1480" class="ax_default">
              <script id="u1480_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1481" class="ax_default box_1 u1481" data-label="Fecha">
                  <div id="u1481_div" class="u1481_div"></div>
                  <div id="u1481_text" class="text u1481_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1480-1" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1481-1" class="ax_default box_1 u1481" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1481-1_div" class="u1481_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1481-1_text" class="text u1481_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1480-2" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1481-2" class="ax_default box_1 u1481" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1481-2_div" class="u1481_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1481-2_text" class="text u1481_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 2</span></p>
                  </div>
                </div>
              </div>
              <div id="u1480-3" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1481-3" class="ax_default box_1 u1481" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1481-3_div" class="u1481_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1481-3_text" class="text u1481_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 3</span></p>
                  </div>
                </div>
              </div>
              <div id="u1480-4" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1481-4" class="ax_default box_1 u1481" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1481-4_div" class="u1481_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1481-4_text" class="text u1481_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 4</span></p>
                  </div>
                </div>
              </div>
              <div id="u1480-5" class="preeval" style="width: 676px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1481-5" class="ax_default box_1 u1481" data-label="Fecha" style="width: 550px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1481-5_div" class="u1481_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1481-5_text" class="text u1481_text" style="visibility: inherit">
                    <p><span>Decripción ingreso sin filtrar 5</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1482" class="ax_default">
              <script id="u1482_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1483" class="ax_default box_1 u1483" data-label="Fecha">
                  <div id="u1483_div" class="u1483_div"></div>
                  <div id="u1483_text" class="text u1483_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1482-1" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1483-1" class="ax_default box_1 u1483" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1483-1_div" class="u1483_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1483-1_text" class="text u1483_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1482-2" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1483-2" class="ax_default box_1 u1483" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1483-2_div" class="u1483_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1483-2_text" class="text u1483_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 2</span></p>
                  </div>
                </div>
              </div>
              <div id="u1482-3" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1483-3" class="ax_default box_1 u1483" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1483-3_div" class="u1483_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1483-3_text" class="text u1483_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 3</span></p>
                  </div>
                </div>
              </div>
              <div id="u1482-4" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1483-4" class="ax_default box_1 u1483" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1483-4_div" class="u1483_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1483-4_text" class="text u1483_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 4</span></p>
                  </div>
                </div>
              </div>
              <div id="u1482-5" class="preeval" style="width: 550px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1483-5" class="ax_default box_1 u1483" data-label="Fecha" style="width: 550px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u1483-5_div" class="u1483_div" style="width: 550px; height: 30px;visibility: inherit"></div>
                  <div id="u1483-5_text" class="text u1483_text" style="visibility: inherit">
                    <p><span>Decripción egreso sin filtrar 3</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Repeater) -->
            <div id="u1484" class="ax_default">
              <script id="u1484_script" type="axure-repeater-template">

                <!-- Fecha (Rectangle) -->
                <div id="u1485" class="ax_default box_1 u1485" data-label="Fecha">
                  <div id="u1485_div" class="u1485_div"></div>
                  <div id="u1485_text" class="text u1485_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u1484-1" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1485-1" class="ax_default box_1 u1485" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1485-1_div" class="u1485_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1485-1_text" class="text u1485_text" style="visibility: inherit">
                    <p><span>Entidad 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1484-2" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1485-2" class="ax_default box_1 u1485" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1485-2_div" class="u1485_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1485-2_text" class="text u1485_text" style="visibility: inherit">
                    <p><span>Entidad 2</span></p>
                  </div>
                </div>
              </div>
              <div id="u1484-3" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1485-3" class="ax_default box_1 u1485" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1485-3_div" class="u1485_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1485-3_text" class="text u1485_text" style="visibility: inherit">
                    <p><span>Entidad 1</span></p>
                  </div>
                </div>
              </div>
              <div id="u1484-4" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1485-4" class="ax_default box_1 u1485" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1485-4_div" class="u1485_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1485-4_text" class="text u1485_text" style="visibility: inherit">
                    <p><span>Entidad 3</span></p>
                  </div>
                </div>
              </div>
              <div id="u1484-5" class="preeval" style="width: 286px; height: 30px;">

                <!-- Fecha (Rectangle) -->
                <div id="u1485-5" class="ax_default box_1 u1485" data-label="Fecha" style="width: 160px; height: 30px; left: 126px; top: 0px;visibility: inherit">
                  <div id="u1485-5_div" class="u1485_div" style="width: 160px; height: 30px;visibility: inherit"></div>
                  <div id="u1485-5_text" class="text u1485_text" style="visibility: inherit">
                    <p><span>Entidad 3</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1486" class="ax_default box_11">
        <div id="u1486_div" class=""></div>
        <div id="u1486_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1487" class="ax_default" data-label="Input-Text">
        <div id="u1487_div" class=""></div>
        <div id="u1487_text" class="text ">
          <p><span>Ingreso</span></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1488" class="ax_default" data-label="Input-Text">
        <div id="u1488_div" class=""></div>
        <div id="u1488_text" class="text ">
          <p><span>Egreso</span></p>
        </div>
      </div>

      <!-- Egresos (Droplist) -->
      <div id="u1489" class="ax_default droplist" data-label="Egresos">
        <div id="u1489_div" class=""></div>
        <select id="u1489_input" class="u1489_input">
          <option class="u1489_input_option" value="Seleccione una Categoría">Seleccione una Categoría</option>
          <option class="u1489_input_option" value="Categoría 1">Categoría 1</option>
          <option class="u1489_input_option" value="Categoría 2">Categoría 2</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1490" class="ax_default heading_1">
        <div id="u1490_div" class=""></div>
        <div id="u1490_text" class="text ">
          <p><span>Categoría:</span></p>
        </div>
      </div>

      <!-- Egresos (Droplist) -->
      <div id="u1491" class="ax_default droplist" data-label="Egresos">
        <div id="u1491_div" class=""></div>
        <select id="u1491_input" class="u1491_input">
          <option class="u1491_input_option" value="Seleccione una Entidad">Seleccione una Entidad</option>
          <option class="u1491_input_option" value="Entidad 1">Entidad 1</option>
          <option class="u1491_input_option" value="Entidad 2">Entidad 2</option>
          <option class="u1491_input_option" value="Entidad 3">Entidad 3</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1492" class="ax_default heading_1">
        <div id="u1492_div" class=""></div>
        <div id="u1492_text" class="text ">
          <p><span>Entidad:</span></p>
        </div>
      </div>

      <!-- Input-Text (Rectangle) -->
      <div id="u1493" class="ax_default" data-label="Input-Text">
        <div id="u1493_div" class=""></div>
        <div id="u1493_text" class="text ">
          <p><span>Entidad</span></p>
        </div>
      </div>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1495" class="ax_default box_1">
        <div id="u1495_div" class=""></div>
        <div id="u1495_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Tabs (Group) -->
      <div id="u1496" class="ax_default" data-label="Tabs" data-left="45" data-top="1" data-width="247" data-height="65">

        <!-- Unnamed (Group) -->
        <div id="u1497" class="ax_default" data-left="45" data-top="1" data-width="247" data-height="65">

          <!-- Unnamed (Rectangle) -->
          <div id="u1498" class="ax_default heading_1">
            <div id="u1498_div" class=""></div>
            <div id="u1498_text" class="text ">
              <p><span>GeSoc</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u1499" class="ax_default box_1">
            <img id="u1499_img" class="img " src="images/pantalla_principal_usuario/u126.svg"/>
            <div id="u1499_text" class="text ">
              <p><span>Gestión de Proyectos Sociales</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u1500" class="ax_default image">
            <img id="u1500_img" class="img " src="images/pantalla_principal/u7.png"/>
            <div id="u1500_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1501" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1501_img" class="img " src="images/pantalla_principal_usuario/u128.svg"/>
        <div id="u1501_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1502" class="ax_default ellipse ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u1502_img" class="img " src="images/pantalla_principal_usuario/u129.svg"/>
        <div id="u1502_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Inicio (Group) -->
      <div id="u1503" class="ax_default" data-label="Inicio" data-left="322" data-top="30" data-width="55" data-height="40">

        <!-- Inicio (Rectangle) -->
        <div id="u1504" class="ax_default box_3" data-label="Inicio" selectiongroup="u1494Tabs">
          <div id="u1504_div" class=""></div>
          <div id="u1504_text" class="text ">
            <p><span>INICIO</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1505" class="ax_default icon">
        <img id="u1505_img" class="img " src="images/pantalla_principal_usuario/u132.svg"/>
        <div id="u1505_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1506" class="ax_default icon">
        <img id="u1506_img" class="img " src="images/pantalla_principal_usuario/u133.svg"/>
        <div id="u1506_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1507" class="ax_default icon">
        <img id="u1507_img" class="img " src="images/pantalla_principal_usuario/u134.svg"/>
        <div id="u1507_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Criterios de Categorización (Group) -->
      <div id="u1508" class="ax_default ax_default_hidden" data-label="Criterios de Categorización" style="display:none; visibility: hidden" data-left="300" data-top="220" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1509" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1509_state0" class="panel_state" data-label="State1" style="">
            <div id="u1509_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1510" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1510_div" class=""></div>
                <div id="u1510_text" class="text ">
                  <p><span>CREAR CRITERIO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1511" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1511_div" class=""></div>
                <div id="u1511_text" class="text ">
                  <p><span>CREAR CATEGORIA</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1512" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1512_div" class=""></div>
                <div id="u1512_text" class="text ">
                  <p><span>VER INGRESOS Y EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1513" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1513_div" class=""></div>
          <div id="u1513_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN</span></p>
          </div>
        </div>
      </div>

      <!-- Ingresos (Group) -->
      <div id="u1514" class="ax_default ax_default_hidden" data-label="Ingresos" style="display:none; visibility: hidden" data-left="300" data-top="130" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1515" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1515_state0" class="panel_state" data-label="State1" style="">
            <div id="u1515_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1516" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1516_div" class=""></div>
                <div id="u1516_text" class="text ">
                  <p><span>CARGAR INGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1517" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1517_div" class=""></div>
                <div id="u1517_text" class="text ">
                  <p><span>ASOCIAR INGRESOS A EGRESOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1518" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1518_div" class=""></div>
          <div id="u1518_text" class="text ">
            <p><span>INGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Egresos (Group) -->
      <div id="u1519" class="ax_default ax_default_hidden" data-label="Egresos" style="display:none; visibility: hidden" data-left="300" data-top="100" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1520" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1520_state0" class="panel_state" data-label="State1" style="">
            <div id="u1520_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1521" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1521_div" class=""></div>
                <div id="u1521_text" class="text ">
                  <p><span>CARGAR EGRESO</span></p>
                </div>
              </div>

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1522" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1522_div" class=""></div>
                <div id="u1522_text" class="text ">
                  <p><span>ASOCIAR EGRESOS Y PRESUPUESTOS</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1523" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1523_div" class=""></div>
          <div id="u1523_text" class="text ">
            <p><span>EGRESOS</span></p>
          </div>
        </div>
      </div>

      <!-- Presupuestos (Group) -->
      <div id="u1524" class="ax_default ax_default_hidden" data-label="Presupuestos" style="display:none; visibility: hidden" data-left="300" data-top="190" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1525" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1525_state0" class="panel_state" data-label="State1" style="">
            <div id="u1525_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1526" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1526_div" class=""></div>
                <div id="u1526_text" class="text ">
                  <p><span>CARGAR PRESUPUESTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1527" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1527_div" class=""></div>
          <div id="u1527_text" class="text ">
            <p><span>PRESUPUESTOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proyectos (Group) -->
      <div id="u1528" class="ax_default ax_default_hidden" data-label="Proyectos" style="display:none; visibility: hidden" data-left="300" data-top="250" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1529" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1529_div" class=""></div>
          <div id="u1529_text" class="text ">
            <p><span>PROYECTOS</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1530" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1530_state0" class="panel_state" data-label="State1" style="">
            <div id="u1530_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1531" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1531_div" class=""></div>
                <div id="u1531_text" class="text ">
                  <p><span>CREAR PROYECTO DE FINANCIAMIENTO</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuarios (Group) -->
      <div id="u1532" class="ax_default ax_default_hidden" data-label="Usuarios" style="display:none; visibility: hidden" data-left="300" data-top="340" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1533" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1533_div" class=""></div>
          <div id="u1533_text" class="text ">
            <p><span>ADMINISTRAR USUARIOS</span></p>
          </div>
        </div>
      </div>

      <!-- Proveedores (Group) -->
      <div id="u1534" class="ax_default ax_default_hidden" data-label="Proveedores" style="display:none; visibility: hidden" data-left="300" data-top="160" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1535" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1535_state0" class="panel_state" data-label="State1" style="">
            <div id="u1535_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1536" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1536_div" class=""></div>
                <div id="u1536_text" class="text ">
                  <p><span>CARGAR PROVEEDOR</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1537" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1537_div" class=""></div>
          <div id="u1537_text" class="text ">
            <p><span>PROVEEDORES</span></p>
          </div>
        </div>
      </div>

      <!-- ConfiguracionGeneral (Rectangle) -->
      <div id="u1538" class="ax_default box_3 ax_default_hidden" data-label="ConfiguracionGeneral" selectiongroup="u1494Tabs" style="display:none; visibility: hidden">
        <div id="u1538_div" class=""></div>
        <div id="u1538_text" class="text ">
          <p><span>CONFIGURACIÓN GENERAL</span></p>
        </div>
      </div>

      <!-- Menu (Dynamic Panel) -->
      <div id="u1539" class="ax_default" data-label="Menu">
        <div id="u1539_state0" class="panel_state" data-label="State1" style="">
          <div id="u1539_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u1540" class="ax_default icon">
              <img id="u1540_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1540_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u1539_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u1539_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u1541" class="ax_default icon">
              <img id="u1541_img" class="img " src="images/pantalla_principal_usuario/u167.svg"/>
              <div id="u1541_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Auditoría (Group) -->
      <div id="u1542" class="ax_default ax_default_hidden" data-label="Auditoría" style="display:none; visibility: hidden" data-left="300" data-top="280" data-width="200" data-height="30">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1543" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1543_div" class=""></div>
          <div id="u1543_text" class="text ">
            <p><span>AUDITORÍA</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1544" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1544_state0" class="panel_state" data-label="State1" style="">
            <div id="u1544_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1545" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1545_div" class=""></div>
                <div id="u1545_text" class="text ">
                  <p><span>BITÁCORA DE OPERACIONES</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Entidades (Group) -->
      <div id="u1546" class="ax_default ax_default_hidden" data-label="Entidades" style="display:none; visibility: hidden" data-left="300" data-top="70" data-width="200" data-height="30">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u1547" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u1547_state0" class="panel_state" data-label="State1" style="">
            <div id="u1547_state0_content" class="panel_state_content">

              <!-- Tab Label 3 (Rectangle) -->
              <div id="u1548" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
                <div id="u1548_div" class=""></div>
                <div id="u1548_text" class="text ">
                  <p><span>CARGAR ENTIDAD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1549" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="u1494Tabs">
          <div id="u1549_div" class=""></div>
          <div id="u1549_text" class="text ">
            <p><span>ENTIDADES</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1550" class="ax_default icon">
        <img id="u1550_img" class="img " src="images/pantalla_principal_usuario/u177.svg"/>
        <div id="u1550_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u1494" style="display:none; visibility:hidden;"></div>

      <!-- RUTA VER INGRESOS Y EGRESOS (Group) -->
      <div id="u1551" class="ax_default ax_default_hidden" data-label="RUTA VER INGRESOS Y EGRESOS" style="display:none; visibility: hidden" data-left="322" data-top="30" data-width="392" data-height="40">

        <!-- Tab Label 3 (Rectangle) -->
        <div id="u1552" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
          <div id="u1552_div" class=""></div>
          <div id="u1552_text" class="text ">
            <p><span>CRITERIOS DE CATEGORIZACIÓN &gt;&gt; VER INGRESOS Y EGRESOS</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
