#titulo_cargar_items {
  border-width:0px;
  position:absolute;
  left:5%;
  top:15%;
  width:30%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:2vw;
  color:#D9463B;
}

#proveedor_seleccionado{
  border-width:0px;
  position:absolute;
  left:7%;
  top:23%;
  width:10%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#select_proveedor{
  position:absolute;
  left:7%;
  top:27%;
  width:308px;
  height:23px;
}

.selects_bonitos{
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
}

.variables_fijas{
  width: 35%;
  text-align:left;
  background-color:white;
  border: 0px;
}

#fecha_seleccionada{
  position:absolute;
  left:7%;
  top:33%;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:1.3vw;
  color:black;
}

#fecha_posta {
  position:absolute;
  left:7%;
  top:37%;
}

#criterio_seleccionado{
  position:absolute;
  left:7%;
  top:43%;
}

#select_criterio{
  position:absolute;
  left:7%;
  top:47%;
}

#egreso_seleccionado{
  position:absolute;
  left:7%;
  top:53%;
}

#select_egreso{
  position:absolute;
  left:7%;
  top:57%;
}

#detalle_posta{
  position: absolute;
  left: 30%;
  top: 23%;
  width: 60%;
  height: 45%;
}

#proveedor{
  position: absolute;
  left: 10%;
  top: 1%;
}

#proveedorr{
  position: absolute;
  left: 19%;
  top: 0.5%;
}

#fecha_detalle{
  position: absolute;
  right: 0%;
  top: 1%;
}

.variables_fecha{
  text-align:right;
  background-color:white;
  border: 0px;
}


#pago{
  position: absolute;
  left: 15%;
  top: 8%;
}
.tablaCSS{
    border-collapse: collapse;
    margin 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:14px;
}

.tablaCSS thead tr{
    background-color: rgba(217, 70, 59, 1);
    color: white;
    text-align: center;
    /*border: 1px solid #515559;*/
}
.tablaCSS th,
.tablaCSS td{
    padding: 6px 9px;
}

.tablaCSS tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tablaCSS tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.tablaCSS tbody tr:last-of-type{
    border-bottom: 2px solid rgba(217, 70, 59, 1);
}

#ingresos{
  position: absolute;
  left: 17%;
  top: 40%;
}

#cricat{
  position: absolute;
  left: 22%;
  top: 47%;
}

#prep{
  position: absolute;
  left: 19%;
  top: 54%;
}

#prepasoc{
  position: absolute;
  left: 22%;
  top: 62%;
}
#u2052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2052_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:200px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2052_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2052.disabled {
}
#u2053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:197px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2054_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:234px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2054_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2054.disabled {
}
#u2055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:231px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2056_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:268px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2056_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2056.disabled {
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:265px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2058_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:302px;
  width:285px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2058_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2058.disabled {
}
#u2059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:301px;
  width:108px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2060_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:232px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2060_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2060.disabled {
}
#u2061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:231px;
  width:99px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:333px;
  width:155px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:293px;
  width:188px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2064_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:262px;
  width:236px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2064_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2064.disabled {
}
#u2065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2065_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:295px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2065_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2065.disabled {
}
#u2066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2066_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:373px;
  width:150px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2066_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2066.disabled {
}
#u2067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:368px;
  width:54px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:403px;
  width:154px;
  height:28px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2069 label {
  left:0px;
  width:100%;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:413px;
  width:31px;
  height:16px;
  display:flex;
}
#u2069 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2069_img.selected {
}
#u2069.selected {
}
#u2069_img.disabled {
}
#u2069.disabled {
}
#u2069_img.selectedDisabled {
}
#u2069.selectedDisabled {
}
#u2069_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2069_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1481_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:338px;
  width:236px;
  height:25px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1481 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1481_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1481.disabled {
}
.u1481_input_option {
  font-weight:400;
  font-style:normal;
}
#u2047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:460px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2047_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2047.mouseOver {
}
#u2047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 70, 59, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:555px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2018_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(179, 49, 41, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2018.mouseOver {
}
#u2018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:569px;
  width:12px;
  height:12px;
  display:flex;
}
#u2019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}