/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
    /*font-family: 'Raleway', sans-serif;
    font-family: 'Poppins', sans-serif;*/
}
.botoncito{
    position: fixed;
    top: 11%;
    left: 1%;
    height: 30px;
    width: 30px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.botoncito.click{
    left: 260px;
}

.botoncito span{
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.botoncito.click span:before{
    content: '\f00d'
}

.horizontalbar{
    position: fixed;
    left:0px;
    width: 100%;
    height: 10%;
    background: #363839;
}

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: transparent;
    transition: left 0.4s ease;
}

.sidebar.show{
    left: 0px;
}
/*
.sidebar .text{
    color: white;
    font-size: 30px;
    font-weight: 600;
    line_height: 65px;
    text-align: center;
    background: transparent;
    letter-spacing: 1px;
}*/
/*
position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
*/
nav ul{
    /*position: fixed;
    bottom: 0;
    width: 30%;
    height: 90%;*/
    position: relative;
    top: 10%;
    height: 100%;
    width: 100%;
    background: #434647;
    list-style: none;
}

nav ul li{
    line_height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
    padding-left: 10px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover{
    /*color: #d9463b;*/
    color: black;
    background: #bebdbd;
    border-left-color: #d9463b;
}

nav ul ul{
    position: static;
    display: none;
}

nav ul .mostrar-opciones-entidades.show{
    display:block;
}

nav ul .mostrar-opciones-egresos.show1{
    display:block;
}

nav ul .mostrar-opciones-ingresos.show2{
    display:block;
}

nav ul .mostrar-opciones-proveedores.show3{
    display:block;
}

nav ul .mostrar-opciones-presupuestos.show4{
    display:block;
}

nav ul .mostrar-opciones-criterios-categorizacion.show5{
    display:block;
}

nav ul .mostrar-opciones-proyectos.show6{
    display:block;
}

nav ul .mostrar-opciones-auditoria.show7{
    display:block;
}

nav ul ul li{
    line_height: 42px;
    border-bottom: none;
}

nav ul ul li a{
    font-size:13px;
    color: #e6e6e6;
    padding-left: 20px;
}

nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

.nav__overlay{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    visibility: hidden;
    opacity: 0;
}

.sidebar.show .nav__overlay{
    visibility: visible;
    opacity: 1;
}

.logo-image{
    position: fixed;
    /*width: 20%;*/
    height: 10%;
    overflow: hidden;
}
.indice{
    position: fixed;
    top: 6.5%;
    left: 25%;
    color: #bebdbd;
    font-weight : bold;
    font-family:'Calibri Bold', 'Calibri Regular', 'Calibri', sans-serif;
    font-weight:300;
    font-size:1vw;
}

.logo-configuracion{
    position: fixed;
    top: 5%;
    right: 10%;
    height: 5%;
    overflow: hidden;
}

.logo-sobre{
    position: fixed;
    top: 5.5%;
    right: 8%;
    height: 5%;
    overflow: hidden;
}

.logo-usuario{
    position: fixed;
    top: 5%;
    right: 6%;
    height: 5%;
    overflow: hidden;
}

.logo-cerrar-sesion{
    position: fixed;
    top: 5.3%;
    right: 4%;
    height: 5%;
    overflow: hidden;
}

.botonSesion{
    position: fixed;
    top: 5.3%;
    right: 4%;
    height: 5%;
    overflow: hidden;
}